Local setup for n8n/Main Workflow.json
{
  "nodes": [
    {
      "parameters": {
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9ec1ef9e-52d8-41cc-8900-6ffbb059a475",
      "name": "Serve UI (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2704,
        688
      ],
      "webhookId": "ui-webhook"
    },
    {
      "parameters": {
        "jsCode": "const html = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>n8n Agent UI</title>\n  <style>\n    :root {\n      --bg-color: #121212;\n      --chat-bg: #1e1e1e;\n      --user-msg: #ea4b71;\n      --bot-msg: #2d2d2d;\n      --text-color: #e0e0e0;\n    }\n    body { margin: 0; font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif; background: var(--bg-color); color: var(--text-color); display: flex; justify-content: center; height: 100vh; }\n    .chat-container { width: 100%; max-width: 600px; background: var(--chat-bg); display: flex; flex-direction: column; height: 100%; box-shadow: 0 0 20px rgba(0,0,0,0.5); }\n    .header { padding: 20px; border-bottom: 1px solid #333; font-weight: bold; display: flex; align-items: center; gap: 10px; }\n    .header-dot { width: 10px; height: 10px; background: #2ecc71; border-radius: 50%; }\n    .messages { flex: 1; overflow-y: auto; padding: 20px; display: flex; flex-direction: column; gap: 15px; }\n    .message { max-width: 80%; padding: 12px 16px; border-radius: 12px; line-height: 1.4; font-size: 15px; white-space: pre-wrap;}\n    .message.user { align-self: flex-end; background: var(--user-msg); color: white; border-bottom-right-radius: 2px; }\n    .message.bot { align-self: flex-start; background: var(--bot-msg); color: var(--text-color); border-bottom-left-radius: 2px; }\n    .input-area { padding: 20px; border-top: 1px solid #333; display: flex; gap: 10px; align-items: center; }\n    input { flex: 1; padding: 12px; border-radius: 8px; border: 1px solid #444; background: #2d2d2d; color: white; outline: none; transition: border-color 0.2s; }\n    input:focus { border-color: var(--user-msg); }\n    button { padding: 12px 20px; border-radius: 8px; border: none; background: var(--user-msg); color: white; font-weight: bold; cursor: pointer; transition: opacity 0.2s; }\n    button:hover { opacity: 0.9; }\n    button:disabled { opacity: 0.5; cursor: not-allowed; }\n    #mic-btn { background: #2d2d2d; border: 1px solid #555; font-size: 18px; padding: 10px 14px; flex-shrink: 0; }\n    #mic-btn.recording { background: #ea4b71; border-color: #ea4b71; animation: pulse 1s infinite; }\n    @keyframes pulse { 0%,100% { opacity: 1; } 50% { opacity: 0.5; } }\n    .status { font-size: 12px; color: #888; padding: 0 20px 8px; min-height: 18px; }\n        /* ── Approval Overlay ── */\n    #approval-overlay {\n      display: none;\n      position: fixed;\n      inset: 0;\n      background: rgba(0,0,0,0.75);\n      align-items: center;\n      justify-content: center;\n      z-index: 999;\n      animation: fadeIn 0.2s ease;\n    }\n    @keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }\n    .approval-box {\n      background: #1e1e1e;\n      border: 1px solid #444;\n      border-top: 3px solid #ea4b71;\n      border-radius: 12px;\n      width: 90%;\n      max-width: 480px;\n      padding: 24px;\n      box-shadow: 0 20px 60px rgba(0,0,0,0.6);\n      animation: slideUp 0.2s ease;\n    }\n    @keyframes slideUp { from { transform: translateY(20px); opacity: 0; } to { transform: translateY(0); opacity: 1; } }\n    .approval-header {\n      display: flex;\n      align-items: center;\n      gap: 10px;\n      font-size: 16px;\n      font-weight: 700;\n      color: #ea4b71;\n      margin-bottom: 18px;\n    }\n    .approval-header span { font-size: 22px; }\n    .approval-field { margin-bottom: 14px; }\n    .approval-label {\n      font-size: 10px;\n      font-weight: 700;\n      text-transform: uppercase;\n      letter-spacing: 0.8px;\n      color: #888;\n      margin-bottom: 4px;\n    }\n    .approval-value { font-size: 14px; color: #e0e0e0; line-height: 1.5; }\n    .approval-command {\n      font-family: 'Consolas', 'Courier New', monospace;\n      font-size: 12.5px;\n      background: #2d2d2d;\n      padding: 8px 10px;\n      border-radius: 6px;\n      border: 1px solid #444;\n      color: #4ec9b0;\n      word-break: break-all;\n    }\n    .risk-badge {\n      display: inline-block;\n      padding: 3px 10px;\n      border-radius: 4px;\n      font-size: 12px;\n      font-weight: 700;\n      background: #3a2e00;\n      color: #febc2e;\n      border: 1px solid #febc2e55;\n    }\n    .approval-divider { border: none; border-top: 1px solid #333; margin: 16px 0; }\n    .approval-question { font-size: 14px; font-weight: 600; color: #ccc; margin-bottom: 16px; }\n    .approval-buttons { display: flex; gap: 10px; justify-content: flex-end; }\n    .btn-deny {\n      padding: 10px 22px;\n      border-radius: 8px;\n      border: 1px solid #555;\n      background: #2d2d2d;\n      color: #ccc;\n      font-weight: 600;\n      cursor: pointer;\n      font-size: 14px;\n      transition: all 0.15s;\n    }\n    .btn-deny:hover { background: #3a1a1a; border-color: #ff5f57; color: #ff5f57; }\n    .btn-approve {\n      padding: 10px 22px;\n      border-radius: 8px;\n      border: none;\n      background: #ea4b71;\n      color: white;\n      font-weight: 700;\n      cursor: pointer;\n      font-size: 14px;\n      transition: opacity 0.15s;\n    }\n    .btn-approve:hover { opacity: 0.85; }\n\n    .approval-sent {\n      text-align: center;\n      padding: 16px 0 4px;\n      font-size: 13px;\n      color: #888;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"chat-container\">\n    <div class=\"header\"><div class=\"header-dot\"></div>n8n Agent</div>\n    <div class=\"messages\" id=\"messages\">\n      <div class=\"message bot\">Hello! I am your n8n assistant. You can type or use the 🎤 mic button to speak.</div>\n    </div>\n    <div class=\"status\" id=\"status\"></div>\n    <form class=\"input-area\" id=\"chat-form\">\n      <button type=\"button\" id=\"mic-btn\" title=\"Click to record\">🎤</button>\n      <input type=\"text\" id=\"input\" placeholder=\"Type or speak a message...\" autocomplete=\"off\" />\n      <button type=\"submit\" id=\"send-btn\">Send</button>\n    </form>\n  </div>\n\n  <!-- ── Approval Overlay ── -->\n  <div id=\"approval-overlay\">\n    <div class=\"approval-box\">\n      <div class=\"approval-header\">\n        <span>⚠️</span> Action Requires Approval\n      </div>\n\n      <div class=\"approval-field\">\n        <div class=\"approval-label\">Action</div>\n        <div class=\"approval-value\" id=\"ap-action\">—</div>\n      </div>\n\n      <div class=\"approval-field\">\n        <div class=\"approval-label\">Command</div>\n        <div class=\"approval-command\" id=\"ap-command\">—</div>\n      </div>\n\n      <div class=\"approval-field\">\n        <div class=\"approval-label\">Description</div>\n        <div class=\"approval-value\" id=\"ap-desc\">—</div>\n      </div>\n\n      <div class=\"approval-field\">\n        <div class=\"approval-label\">Risk</div>\n        <div class=\"risk-badge\" id=\"ap-risk\">—</div>\n      </div>\n\n      <hr class=\"approval-divider\">\n      <div class=\"approval-question\">Do you want to approve this action?</div>\n      <div class=\"approval-buttons\">\n        <button type=\"button\" class=\"btn-deny\" onclick=\"submitApproval('denied')\">✕ Deny</button>\n        <button type=\"button\" class=\"btn-approve\" onclick=\"submitApproval('approved')\">✓ Approve</button>\n      </div>\n      <div class=\"approval-sent\" id=\"ap-sent\" style=\"display:none\">Sending response...</div>\n    </div>\n  </div>\n  \n  <script>\n    const form = document.getElementById('chat-form');\n    const input = document.getElementById('input');\n    const messages = document.getElementById('messages');\n    const sendBtn = document.getElementById('send-btn');\n    const micBtn = document.getElementById('mic-btn');\n    const status = document.getElementById('status');\n\n    // ── API endpoints ─────────────────────────────\n    const base = window.location.origin + '/webhook';\n    const API_URL     = base + '/chat-response';\n    const WHISPER_URL = base + '/whisper-proxy';\n    const TTS_URL     = base + '/tts-proxy';\n\n    let approvalPending = false;\n    let currentResumeUrl = null;\n    \n    function showApprovalDialog(data) {\n      approvalData = data;\n      document.getElementById('ap-action').textContent = data.description || 'Command execution';\n      document.getElementById('ap-command').textContent = data.command || 'No command provided';\n      document.getElementById('ap-desc').textContent = data.riskReason || 'Please review this action carefully.';\n      document.getElementById('ap-risk').textContent = (data.riskEmoji || '⚠️') + ' ' + (data.risk || 'unknown');\n    \n      document.getElementById('ap-sent').style.display = 'none';\n      document.querySelectorAll('.approval-buttons button').forEach(b => b.disabled = false);\n      document.getElementById('approval-overlay').style.display = 'flex';\n    }\n\n  async function submitApproval(decision) {\n    if (!currentResumeUrl || !approvalPending) return;\n  \n    document.getElementById('ap-sent').style.display = 'block';\n    document.querySelectorAll('.approval-buttons button').forEach(b => b.disabled = true);\n  \n    const resume = new URL(currentResumeUrl);\n    resume.protocol = window.location.protocol;\n    resume.host = window.location.host;\n    const fixedUrl = resume.toString();\n  \n    try {\n    const res = await fetch(fixedUrl, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        decision,\n        command: approvalData?.command,\n        description: approvalData?.description,\n        os: approvalData?.os,\n        risk: approvalData?.risk,\n        riskReason: approvalData?.riskReason,\n        riskEmoji: approvalData?.riskEmoji\n      })\n    });\n\n    const raw = await res.text();\n    let data = null;\n    try { data = JSON.parse(raw); } catch { data = { output: raw }; }\n\n        document.getElementById('approval-overlay').style.display = 'none';\n        addMessage('You ' + (decision === 'approved' ? 'approved' : 'denied') + ' the action.', 'user');\n    \n        if (data && (data.output || data.result)) {\n          addMessage(data.output || data.result, 'bot');\n        }\n      } catch (e) {\n        addMessage('Failed to send approval response.', 'bot');\n      } finally {\n        document.getElementById('ap-sent').style.display = 'none';\n        document.querySelectorAll('.approval-buttons button').forEach(b => b.disabled = false);\n        approvalPending = false;\n        currentResumeUrl = null;\n        approvalData = null;\n        setStatus('');\n        setUIBusy(false);\n        input.focus();\n      }\n    }\n    \n    // ── Helpers ───────────────────────────────────\n    function setStatus(msg) { status.textContent = msg; }\n\n    function addMessage(text, sender) {\n      const div = document.createElement('div');\n      div.className = 'message ' + sender;\n    \n      // Check if it's a QuickChart image URL\n      if (sender === 'bot' && text && text.startsWith('https://quickchart.io')) {\n        const img = document.createElement('img');\n        img.src = text;\n        img.alt = 'Expense Chart';\n        img.style.cssText = 'max-width:100%;border-radius:8px;margin-top:4px;';\n        img.onerror = () => { div.textContent = 'Chart failed to load.'; };\n        div.appendChild(img);\n      } else {\n        div.textContent = text;\n      }\n    \n      messages.appendChild(div);\n      messages.scrollTop = messages.scrollHeight;\n    }\n\n    function setUIBusy(busy) {\n      input.disabled = busy;\n      sendBtn.disabled = busy;\n      micBtn.disabled = busy;\n    }\n\n    // ── Send text to n8n, get reply, play TTS ─────\n    async function sendMessage(text) {\n      if (!text.trim()) return;\n    \n      addMessage(text, 'user');\n      input.value = '';\n      setUIBusy(true);\n      setStatus('Agent is thinking...');\n    \n      try {\n        const res = await fetch(API_URL, {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({ message: text })\n        });\n        \n        const contentType = res.headers.get('Content-Type') || '';\n        \n        if (contentType.includes('image/')) {\n          // Handle binary image response\n          const blob = await res.blob();\n          const imageUrl = URL.createObjectURL(blob);\n          addImageMessage(imageUrl);\n          setStatus('');\n          return;\n        }\n        \n        const raw = await res.text();\n        \n        let reply = 'No response.';\n        let data = null;\n    \n        try {\n          data = JSON.parse(raw);\n          if (data.type === 'charts') {\n            addChartsMessage(data.gainChartUrl, data.lossChartUrl);\n            setStatus('');\n            return;\n          }\n          \n          if (data.approvalRequired) {\n            approvalPending = true;\n            currentResumeUrl = data.approvalUrl || null;\n            \n            if (!currentResumeUrl) {\n              addMessage('Missing approval URL.', 'bot');\n              approvalPending = false;\n              setUIBusy(false);\n              return;\n            }\n          \n            showApprovalDialog(data);\n            return;\n          }\n\n    \n          reply = data.output || data.content || data.text || raw;\n        } catch {\n          reply = raw;\n        }\n    \n        addMessage(reply, 'bot');\n        setStatus('Generating audio...');\n    \n        const ttsRes = await fetch(TTS_URL + '?text=' + encodeURIComponent(reply));\n        if (ttsRes.ok) {\n          const audioBlob = await ttsRes.blob();\n          const audioUrl = URL.createObjectURL(audioBlob);\n          const audio = new Audio(audioUrl);\n          audio.onended = () => URL.revokeObjectURL(audioUrl);\n          await audio.play();\n        }\n    \n        setStatus('');\n      } catch (err) {\n        console.error(err);\n        setStatus('Error: ' + err.message);\n      } finally {\n        if (!approvalPending) {\n          setUIBusy(false);\n          input.focus();\n        }\n      }\n    }\n\n    function addImageMessage(src) {\n      const div = document.createElement('div');\n      div.className = 'message bot';\n      const img = document.createElement('img');\n      img.src = src;\n      img.alt = 'Expense Chart';\n      img.style.cssText = 'max-width:100%;border-radius:8px;margin-top:4px;';\n      img.onload = () => { messages.scrollTop = messages.scrollHeight; };\n      img.onerror = () => { div.textContent = 'Chart failed to load.'; };\n      div.appendChild(img);\n      messages.appendChild(div);\n      messages.scrollTop = messages.scrollHeight;\n    }\n\n    function addChartsMessage(gainUrl, lossUrl) {\n      const div = document.createElement('div');\n      div.className = 'message bot';\n    \n      const wrap = document.createElement('div');\n      wrap.style.cssText = 'display:flex;flex-direction:column;gap:12px;';\n    \n      const gainImg = document.createElement('img');\n      gainImg.src = gainUrl;\n      gainImg.alt = 'Gain Chart';\n      gainImg.style.cssText = 'max-width:100%;border-radius:8px;';\n    \n      const lossImg = document.createElement('img');\n      lossImg.src = lossUrl;\n      lossImg.alt = 'Loss Chart';\n      lossImg.style.cssText = 'max-width:100%;border-radius:8px;';\n    \n      wrap.appendChild(gainImg);\n      wrap.appendChild(lossImg);\n      div.appendChild(wrap);\n      messages.appendChild(div);\n      messages.scrollTop = messages.scrollHeight;\n    }\n\n    // ── Text form submit ──────────────────────────\n    form.addEventListener('submit', (e) => {\n      e.preventDefault();\n      sendMessage(input.value.trim());\n    });\n\n    // ── Voice recording ───────────────────────────\n    let mediaRecorder = null;\n    let audioChunks = [];\n\n    micBtn.addEventListener('click', async () => {\n      if (mediaRecorder && mediaRecorder.state === 'recording') {\n        mediaRecorder.stop();\n        return;\n      }\n\n      try {\n        const stream = await navigator.mediaDevices.getUserMedia({ audio: true });\n        mediaRecorder = new MediaRecorder(stream);\n        audioChunks = [];\n\n        mediaRecorder.ondataavailable = (e) => audioChunks.push(e.data);\n\n        mediaRecorder.onstop = async () => {\n          micBtn.classList.remove('recording');\n          micBtn.textContent = '🎤';\n          stream.getTracks().forEach(t => t.stop());\n\n          setStatus('Transcribing...');\n          setUIBusy(true);\n\n          try {\n            const audioBlob = new Blob(audioChunks, { type: 'audio/webm' });\n            const formData = new FormData();\n            formData.append('audio_file', audioBlob, 'recording.webm');\n\n            const whisperRes = await fetch(WHISPER_URL, {\n              method: 'POST',\n              body: formData\n            });\n            const whisperData = await whisperRes.json();\n            const transcript = whisperData.text?.trim();\n\n            if (transcript) {\n              setStatus('');\n              setUIBusy(false);\n              await sendMessage(transcript);\n            } else {\n              setStatus(\"Couldn't hear anything — try again.\");\n              setUIBusy(false);\n            }\n          } catch (err) {\n            setStatus('Whisper error: ' + err.message);\n            setUIBusy(false);\n            console.error(err);\n          }\n        };\n\n        mediaRecorder.start();\n        micBtn.classList.add('recording');\n        micBtn.textContent = '⏹';\n        setStatus('Recording... click ⏹ to stop');\n\n      } catch (err) {\n        setStatus('Mic access denied: ' + err.message);\n        console.error(err);\n      }\n    });\n  </script>\n</body>\n</html>\n`;\n\nreturn { html };"
      },
      "id": "d978d161-863d-4d40-a347-960bdd0dbe1c",
      "name": "Define HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        688
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "38194c9f-3a7b-48f8-bff2-2761584cdcca",
      "name": "Respond HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3152,
        688
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $env.MEMORY_PATH }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "id": "50468705-4a7f-48c2-89ed-fad5a660d819",
      "name": "Read Local File (UTF8)",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2944,
        1648
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:latest",
          "mode": "list",
          "cachedResultName": "llama3.2:latest"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a File Updater.\nTask: Update the \"Current File\" based on the \"User Input\".\n\n### STRICT OUTPUT RULES:\n1. Output ONLY the updated file content.\n2. Do NOT output headers like \"### FILE CONTENT\" or \"### NEW FILE CONTENT\".\n3. Do NOT output <think> tags.\n4. **Standardize Entries**:\n   - Turn \"class tmr 9am\" into \"- Tomorrow 9am: Class\"\n   - Turn \"gym tonight\" into \"- Today Evening: Gym\"\n\n### DATA:\n[Current File]\n{{ $json.data || '' }}\n\n[User Input]\n{{ $('Receive Msg (POST)').item.json.body.message }}\n\n### RESPONSE (The Updated File Only):"
            },
            {
              "content": "=Please be reminder the exact date and time now is:\n {{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3753562f-9b49-4c0c-9758-a016207e9a0b",
      "name": "Memory Updater",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        3168,
        2112
      ],
      "credentials": {
        "ollamaApi": {
          "id": "JbjAzk6sO4GuD8Io",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert the AI's text answer into a binary file object for n8n\nconst textContent = items[0].json.content || \"\";\nconst binaryData = Buffer.from(textContent).toString('base64');\n\nreturn {\n  json: { success: true },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'text/markdown',\n      fileName: 'summary.md'\n    }\n  }\n};"
      },
      "id": "f3e30da5-43e5-40bf-879c-b400497affc6",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3504,
        2112
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $env.MEMORY_PATH }}",
        "options": {
          "append": true
        }
      },
      "id": "f28566d5-6aec-42d7-a915-1fa6887089ef",
      "name": "Save Summary1",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3712,
        2112
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        3184,
        1648
      ],
      "id": "1affeaeb-4a3b-4bec-b064-eaf47674d8ef",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "content": "# AI agent after receiving the message",
        "height": 2688,
        "width": 4432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        864
      ],
      "typeVersion": 1,
      "id": "8fe7c0f8-e28f-4862-9561-3b8fd25541ac",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Host the UI",
        "height": 224,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        592
      ],
      "typeVersion": 1,
      "id": "94d79b2a-3baa-428f-b677-d1b1c82e81f9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "9be364b0-f35c-4dcd-b8c2-67ed3bc8a659",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Simple",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52843313-7117-47a1-8841-06daa8c65c76",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Hard",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a603a0f3-333e-497f-a25a-5c9e85e6668b",
      "name": "Complexity Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        4576,
        1840
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "e29dad6c-9537-47da-8343-8a59776c56e2",
      "name": "Respond to UI2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6816,
        1984
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "comp3297groupq@gmail.com",
          "mode": "list",
          "cachedResultName": "comp3297groupq@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4848,
        1792
      ],
      "id": "7d81b9d7-32c7-43d6-a8cb-403f32f978e4",
      "name": "Create an event in Google Calendar2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "lIow84PD3zb3dX9h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "comp3297groupq@gmail.com",
          "mode": "list",
          "cachedResultName": "comp3297groupq@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4928,
        2432
      ],
      "id": "3f0a646a-ca98-4201-9133-9323b67f9b1c",
      "name": "Create an event in Google Calendar3",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "lIow84PD3zb3dX9h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        5136,
        1792
      ],
      "id": "8ea2085f-6038-4b11-9739-81c67c649de1",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "nAZgZTJOfUMDrAvd",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        5280,
        1792
      ],
      "id": "d4911f0d-0eca-4bbb-935d-a78d0a92d0b1",
      "name": "Update a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "nAZgZTJOfUMDrAvd",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        5216,
        2432
      ],
      "id": "a40e7555-ba96-43b6-a2aa-ba1a8072ead4",
      "name": "Get a document in Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "nAZgZTJOfUMDrAvd",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        5376,
        2432
      ],
      "id": "d9b67fb0-3a45-4695-b980-9b58fcfc3491",
      "name": "Update a document in Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "nAZgZTJOfUMDrAvd",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        5424,
        1792
      ],
      "id": "22a2c2fe-0ab9-4784-bf45-2fe352b4741d",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "I1ziYrLvlAMSftXf",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        5520,
        2432
      ],
      "id": "85c9eac8-f32c-452e-a5d7-343d81eba61d",
      "name": "Search in Tavily1",
      "credentials": {
        "tavilyApi": {
          "id": "I1ziYrLvlAMSftXf",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "comp3297groupq@gmail.com",
          "mode": "list",
          "cachedResultName": "comp3297groupq@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4992,
        1792
      ],
      "id": "3b9e4f9b-59f9-4132-af0b-e88a2a6ef0bb",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "lIow84PD3zb3dX9h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "comp3297groupq@gmail.com",
          "mode": "list",
          "cachedResultName": "comp3297groupq@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        5072,
        2432
      ],
      "id": "7a8c41f1-99af-44d8-a549-897c6ba9f7c1",
      "name": "Get many events in Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "lIow84PD3zb3dX9h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        4848,
        1664
      ],
      "id": "f2b0b6d0-bc80-458a-8482-f0f0b922bf74",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "JbjAzk6sO4GuD8Io",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        4832,
        2288
      ],
      "id": "17a149d1-78ae-423a-8a9b-80a6dfad58a7",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "JbjAzk6sO4GuD8Io",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a strict routing system. Your ONLY job is to classify the complexity of the user's input.\n\nYou must output exactly ONE of the following three tokens:\n1. Simple\n2. Hard\n\n### Rules:\n- Output NOTHING else. No explanations, no punctuation, no markdown.\n- If the input is a factual lookup or formatting task -> Output \"Simple\"\n- If the input requires reasoning, math, coding, or multi-step logic -> Output \"Hard\"\n\n### User Input:\n{{ $('Receive Msg (POST)').item.json.body.message }}\n"
      },
      "id": "72d39c74-dbb2-431a-b36d-64785e97980b",
      "name": "Classifier Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        4224,
        1840
      ]
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        4224,
        2000
      ],
      "id": "29eff485-fef2-4a60-be13-f07a5d3b808c",
      "name": "Ollama Model1",
      "credentials": {
        "ollamaApi": {
          "id": "JbjAzk6sO4GuD8Io",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        4064,
        1376
      ],
      "id": "cc6a9857-d65c-4c05-b07f-14be1dc2aed6",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "JbjAzk6sO4GuD8Io",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        3376,
        1808
      ],
      "id": "d1d274ce-a3f2-4b2a-9009-fa5fdd84b882",
      "name": "Ollama Model2",
      "credentials": {
        "ollamaApi": {
          "id": "JbjAzk6sO4GuD8Io",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        4272,
        3024
      ],
      "id": "4d846e06-b9d2-425b-9bf8-c2f417c8eb9f",
      "name": "Ollama Chat Model3",
      "credentials": {
        "ollamaApi": {
          "id": "JbjAzk6sO4GuD8Io",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "=expenses",
        "columns": {
          "column": [
            {
              "name": "amount",
              "type": "number"
            },
            {
              "name": "category"
            },
            {
              "name": "date",
              "type": "date"
            },
            {
              "name": "raw"
            },
            {
              "name": "gain",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        5248,
        2960
      ],
      "id": "4dabb755-46f2-49e8-b4ef-20caad47a2f6",
      "name": "Create expenses table"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "expenses",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "amount": "={{ $('Format Response 4').item.json.amount }}",
            "category": "={{ $('Format Response 4').item.json.category }}",
            "date": "={{ $('Format Response 4').item.json.time }}",
            "raw": "={{ $('Format Response 4').item.json.raw }}",
            "gain": "={{ $('Format Response 4').item.json.gain }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "raw",
              "displayName": "raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "gain",
              "displayName": "gain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        5248,
        2784
      ],
      "id": "41bf4797-ebc3-40dc-bc70-a4b28d5417d4",
      "name": "Insert row"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\n\nconst gainTotals = {};\nconst lossTotals = {};\n\nfor (const row of rows) {\n  const cat = row.category || 'Other';\n  const amt = Math.abs(Number(row.amount) || 0);\n  const isGain = row.gain === true || row.gain === 1 || row.gain === 'true';\n\n  if (isGain) {\n    gainTotals[cat] = (gainTotals[cat] || 0) + amt;\n  } else {\n    lossTotals[cat] = (lossTotals[cat] || 0) + amt;\n  }\n}\n\nreturn [{\n  json: {\n    gainLabels: Object.keys(gainTotals),\n    gainData: Object.values(gainTotals),\n    lossLabels: Object.keys(lossTotals),\n    lossData: Object.values(lossTotals),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4464,
        3232
      ],
      "id": "379d15a3-175d-45ed-957b-ce2176f221aa",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "expenses",
          "mode": "name"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4272,
        3232
      ],
      "id": "3eee39e8-b6d6-4914-ac8e-de1a5bc1eab0",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whisper:9000/asr?language=en&output=json",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "audio_file"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2864,
        1280
      ],
      "id": "b6bab575-582d-4abb-a870-3b088450116b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3056,
        1280
      ],
      "id": "b7af071c-da5c-45a6-a47d-13ec7817ee85",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whisper-proxy",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2688,
        1280
      ],
      "id": "69ca604e-2c79-4294-b853-1146afcda75d",
      "name": "Receive Audio",
      "webhookId": "1eb2e05d-9816-4f0d-979c-4c5aa3b8cdde"
    },
    {
      "parameters": {
        "url": "=http://tts:5000/api/tts?text={{ encodeURIComponent($json.query.text) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2864,
        2480
      ],
      "id": "547aa87c-1903-470a-bb61-952ec1b1f633",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "audio/wav"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3072,
        2480
      ],
      "id": "b7d2c798-0772-4a31-b143-5495cce229d6",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "path": "tts-proxy",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2688,
        2480
      ],
      "id": "53b40574-0428-44b0-919b-8cb074c67161",
      "name": "Receive TTS",
      "webhookId": "3278e552-f904-4d30-9b55-3e7cd0eb164d"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "id": "40677fd5-489c-4e6e-9a65-7c55260af975",
      "name": "Ollama Chat Model5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        4880,
        1376
      ],
      "credentials": {
        "ollamaApi": {
          "id": "JbjAzk6sO4GuD8Io",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "approved-check-001",
              "leftValue": "={{ $json.body.decision }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5488,
        1200
      ],
      "id": "b27d3109-1af3-4ab4-bb6c-b4b567d8e0d6",
      "name": "Is Approved"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "denied-result-001",
              "name": "result",
              "value": "Command was denied by the user.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5648,
        1296
      ],
      "id": "75f20e9f-e466-4531-9cca-59e130a06b25",
      "name": "Denied Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-result-001",
              "name": "result",
              "value": "={{ $json.result }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6240,
        1104
      ],
      "id": "9256c0e5-3a69-453e-aad3-50fcd773bb8f",
      "name": "Success Response"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{ $json.command }}"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5824,
        1104
      ],
      "id": "066ece5e-f0d9-4690-92db-2ff41c99ad5a",
      "name": "Execute command",
      "credentials": {
        "sshPrivateKey": {
          "id": "BeYJCrc429ALOgX3",
          "name": "SSH Private Key account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "uname -s"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4352,
        1280
      ],
      "id": "c73486ce-b2d2-47e5-92c9-b8706bc09f79",
      "name": "return macOS, Linux",
      "credentials": {
        "sshPrivateKey": {
          "id": "BeYJCrc429ALOgX3",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "if ($env:OS -eq \"Windows_NT\") { \"Windows\" }"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4352,
        1120
      ],
      "id": "3fe53743-67fa-47a7-bf03-97901dfb0949",
      "name": "return Windows",
      "credentials": {
        "sshPrivateKey": {
          "id": "BeYJCrc429ALOgX3",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "path": "pending-approval",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2688,
        2288
      ],
      "id": "a1cd2118-a254-4339-8501-a96dd3617e51",
      "name": "Webhook",
      "webhookId": "43e6b6a1-e3a8-4f22-a8c1-979a2ba43529"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst data = staticData.pendingApproval;\n\nif (!data) {\n  return [{ json: {} }];\n}\n\nif (!data.storedAt) {\n  delete staticData.pendingApproval;\n  return [{ json: {} }];\n}\n\nif (Date.now() - data.storedAt > 5 * 60 * 1000) {\n  delete staticData.pendingApproval;\n  return [{ json: {} }];\n}\n\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        2288
      ],
      "id": "3977a750-64d4-4038-a38f-faad5001b559",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3072,
        2288
      ],
      "id": "36610ca4-2df1-4eee-a8ba-76ade8f19601",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "60122a1b-471f-4e79-9f2e-f0796d9ec7b9",
      "name": "Respond to UI",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        5600,
        912
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "image/png"
              }
            ]
          }
        }
      },
      "id": "772052b4-1e5b-498c-b1fd-fcd4fb6a890f",
      "name": "Respond to UI3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        5392,
        3232
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approve-command",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5296,
        1200
      ],
      "id": "e7b1784e-ce2d-4800-a042-7bc288013933",
      "name": "Webhook1",
      "webhookId": "c9532104-ce50-489b-bff3-31ec0e850bf7"
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout?.trim() || \"\";\nconst stderr = $input.first().json.stderr?.trim() || \"\";\nconst error = $input.first().json.error?.trim() || \"\";\nconst code = $input.first().json.exitCode ?? 0;\n\nconst failed = !!error || code !== 0;\nconst output = stdout || stderr || \"\";\n\nreturn {\n  json: {\n    result: failed\n      ? `Command failed${code !== 0 ? ` (exit ${code})` : \"\"}\\n${error || stderr || \"No error details.\"}`\n      : `Command executed${output ? `\\n\\n${output}` : \"\"}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6016,
        1104
      ],
      "id": "1d00e58f-f753-41fa-838e-4a2b43c2bd82",
      "name": "Format Result"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "9be364b0-f35c-4dcd-b8c2-67ed3bc8a659",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Gain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52843313-7117-47a1-8841-06daa8c65c76",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Loss",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "7092532e-d75e-49ca-a35e-bc9fdba7b462",
      "name": "Complexity Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        4976,
        3232
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a strict routing system. Your ONLY job is to classify the complexity of the user's input.\n\nYou must output exactly ONE of the following three tokens:\n1. Gain\n2. Loss\n\n### Rules:\n- Output NOTHING else. No explanations, no punctuation, no markdown.\n- If the user requires to show the gain graph -> Output \"Gain\"\n- If the uesr requires to show the loss graph -> Output \"Loss\"\n\n### User Input:\n{{ $('Receive Msg (POST)').item.json.body.message }}\n"
      },
      "id": "a4a97f4d-1fb0-4334-985d-926dfa95e740",
      "name": "Classifier Agent2",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        4672,
        3232
      ]
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        4672,
        3392
      ],
      "id": "0cf26659-dacc-4e89-8801-303a1684efb4",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "JbjAzk6sO4GuD8Io",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "chartType": "pie",
        "labelsMode": "array",
        "labelsArray": "={{ $('Code in JavaScript1').item.json.gainLabels }}",
        "data": "={{ $('Code in JavaScript1').item.json.gainData }}",
        "output": "=gainChart",
        "chartOptions": {},
        "datasetOptions": {}
      },
      "type": "n8n-nodes-base.quickChart",
      "typeVersion": 1,
      "position": [
        5184,
        3168
      ],
      "id": "439b07d3-2799-40e7-9024-131d16e2d1b5",
      "name": "gainChart"
    },
    {
      "parameters": {
        "chartType": "pie",
        "labelsMode": "array",
        "labelsArray": "={{ $('Code in JavaScript1').item.json.lossLabels }}",
        "data": "={{ $('Code in JavaScript1').item.json.lossData }}",
        "output": "=lossChart",
        "chartOptions": {},
        "datasetOptions": {}
      },
      "type": "n8n-nodes-base.quickChart",
      "typeVersion": 1,
      "position": [
        5184,
        3312
      ],
      "id": "b173a4c6-acb8-4039-8baa-09e12cca1827",
      "name": "lossChart"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "4fed9481-be33-4ae6-b1af-41ddc6fc4179",
      "name": "Morning Schedule (7 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2704,
        2688
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "email@gmail.com",
          "mode": "list",
          "cachedResultName": "email@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $now.startOf('day').toISO() }}",
        "timeMax": "={{ $now.endOf('day').toISO() }}",
        "options": {
          "orderBy": "startTime"
        }
      },
      "id": "3bb0c0ac-0972-47a9-affc-e7e52197782f",
      "name": "Get Today's Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2960,
        2688
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "lIow84PD3zb3dX9h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 30,
        "filters": {
          "q": "=(subject:urgent OR from:@hsbc.com) after:{{ $now.minus({hours:12}).toFormat('yyyy/MM/dd') }}"
        }
      },
      "id": "ba7fe36a-221d-4102-86d8-a16bba27b17f",
      "name": "Get Overnight Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3216,
        2688
      ],
      "webhookId": "ff1b0165-2f44-4869-b7bb-897626fc4a6b",
      "credentials": {
        "gmailOAuth2": {
          "id": "QeYyhk1AvthUQVzV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ── Pull data from upstream nodes ─────────────────────────────────────────\nconst calItems   = $(\"Get Today's Calendar\").all();\nconst emailItems = $('Get Overnight Emails').all();\n\n// ── Calendar ───────────────────────────────────────────────────────────────\nconst eventLines = calItems.map(i => {\n  const e      = i.json;\n  const title  = e.summary || '(Untitled)';\n  const start  = (e.start?.dateTime || e.start?.date || '').replace('T', ' ').slice(0, 16);\n  const end    = (e.end?.dateTime   || e.end?.date   || '').replace('T', ' ').slice(11, 16);\n  const where  = e.location ? ` @ ${e.location}` : '';\n  const status = e.status === 'tentative' ? ' ⚠️ Tentative' : '';\n  return `• ${title}  [${start}${end ? '–' + end : ''}${where}]${status}`;\n});\nconst calSection = eventLines.length\n  ? eventLines.join('\\n')\n  : '(No calendar events today)';\n\n// ── Emails ─────────────────────────────────────────────────────────────────\nconst emailLines = emailItems.map(i => {\n  const e       = i.json;\n  const from    = e.From    || e.from    || 'Unknown';\n  const subject = e.Subject || e.subject || '(no subject)';\n  const snippet = (e.snippet || '').slice(0, 160);\n  return `• FROM: ${from}\\n  SUBJ: ${subject}\\n  …${snippet}`;\n});\nconst emailSection = emailLines.length\n  ? emailLines.join('\\n\\n')\n  : '(No urgent or HSBC emails in the last 12 hours)';\n\n// ── Timestamp ──────────────────────────────────────────────────────────────\nconst dateLabel = $now.toFormat('EEEE, MMMM d, yyyy');\nconst timeLabel = $now.toFormat('h:mm a');\n\nreturn [{ json: { calSection, emailSection, dateLabel, timeLabel } }];\n"
      },
      "id": "95504c42-1148-43d1-a3ce-99405d01eeb4",
      "name": "Build Briefing Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        2912
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:latest",
          "mode": "list",
          "cachedResultName": "llama3.2:latest"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a sharp, concise executive assistant briefing a busy professional. Today is {{ $json.dateLabel }}, {{ $json.timeLabel }} (Hong Kong, UTC+8). Write ONLY the briefing — no preamble, no sign-off, no commentary outside the structure below.\n\nOutput in clean plain text (no markdown bold, no asterisks). Use the section headers exactly as shown.\n\n=== MORNING BRIEFING — {{ $json.dateLabel }} ===\n\nMARKETS\nDiscuss global/Hong Kong market updates today. 2-3 sentences.\n\nTODAY'S SCHEDULE\nList every event. Flag any conflicts, tight turnarounds, or prep needed.\n\nOVERNIGHT EMAILS — URGENT / HSBC\nSummarise each email: sender, topic, required action. One bullet per email.\n\nACTION ITEMS BEFORE NOON\nNumbered list. Derive concrete next steps from schedule, emails, and market context. Be specific.\n\n---\nSOURCE DATA\n\nCalendar:\n{{ $json.calSection }}\n\nEmails:\n{{ $json.emailSection }}"
            }
          ]
        },
        "options": {}
      },
      "id": "daab5b73-3f49-4963-9fb8-830b162661f0",
      "name": "Morning Analyst Agent",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        3392,
        2912
      ],
      "credentials": {
        "ollamaApi": {
          "id": "JbjAzk6sO4GuD8Io",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=email@gmail.com",
        "subject": "={{ '🌅 Morning Briefing — ' + $('Build Briefing Context').first().json.dateLabel }}",
        "emailType": "text",
        "message": "={{ $json.content }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "a0892d77-045e-4043-b4f8-7b8dda9af739",
      "name": "Send Morning Briefing",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3728,
        2912
      ],
      "webhookId": "6f5229f8-77ee-45fd-b8f1-b96ed6bdfb0b",
      "credentials": {
        "gmailOAuth2": {
          "id": "QeYyhk1AvthUQVzV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "filters": {
          "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        5568,
        1792
      ],
      "id": "6cac6214-d438-44d6-ab6c-aef25f6c309a",
      "name": "Get any messages in Gmail",
      "webhookId": "2267fe83-55e3-4f63-852a-fc9b121388d3",
      "credentials": {
        "gmailOAuth2": {
          "id": "QeYyhk1AvthUQVzV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        4848,
        1952
      ],
      "id": "477052cc-e3d2-4748-b645-3a65aea95bac",
      "name": "Send a message in Gmail",
      "webhookId": "f90ee9ff-d1c2-40da-bfbf-d3d6555299ef",
      "credentials": {
        "gmailOAuth2": {
          "id": "QeYyhk1AvthUQVzV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        4992,
        1952
      ],
      "id": "1e8bf6bf-8fb1-4569-b0c7-c1ccd05974aa",
      "name": "Search files and folders in Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CpLTEDywHBvmKLVR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        5136,
        1952
      ],
      "id": "ad8383f8-aed2-4a45-8a03-21c2020bd051",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6t4AhwC9eUC6lUjp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        5280,
        1952
      ],
      "id": "7f9aa345-da3b-4577-9068-12511b51f762",
      "name": "Create sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6t4AhwC9eUC6lUjp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        5424,
        1952
      ],
      "id": "07aee050-0253-4991-a857-3b48a1364423",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6t4AhwC9eUC6lUjp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "filters": {
          "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        5680,
        2432
      ],
      "id": "157762b0-74b2-4115-ac24-f2ff2b97e98d",
      "name": "Get any messages in Gmail1",
      "webhookId": "2267fe83-55e3-4f63-852a-fc9b121388d3",
      "credentials": {
        "gmailOAuth2": {
          "id": "QeYyhk1AvthUQVzV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        4928,
        2592
      ],
      "id": "904a4e09-c458-4bac-99a7-212ae7fc7f89",
      "name": "Send a message in Gmail1",
      "webhookId": "f90ee9ff-d1c2-40da-bfbf-d3d6555299ef",
      "credentials": {
        "gmailOAuth2": {
          "id": "QeYyhk1AvthUQVzV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        5072,
        2592
      ],
      "id": "0e99e72e-b1e0-45da-931e-52390d84b5fd",
      "name": "Search files and folders in Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CpLTEDywHBvmKLVR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        5232,
        2592
      ],
      "id": "45feb547-96e4-484b-b416-660a71398482",
      "name": "Append or update row in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6t4AhwC9eUC6lUjp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        5376,
        2592
      ],
      "id": "e9f08d6f-5814-4d10-812c-197930cdb18a",
      "name": "Create sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6t4AhwC9eUC6lUjp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        5520,
        2592
      ],
      "id": "d76f0aed-4d49-42b0-8956-4b35edfdd5e4",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6t4AhwC9eUC6lUjp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9e193d21-ec10-4bb7-8a5e-7e80da53f799",
      "name": "Receive Msg (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2688,
        1648
      ],
      "webhookId": "msg-webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a strict routing system. Your ONLY job is to classify the complexity of the user's input.\n\nYou must output exactly ONE of the following four tokens:\n1. command\n2. normal\n3. expense\n4. visualize\n\n### Rules:\n- Output NOTHING else. No explanations, no punctuation, no markdown.\n- Output \"command\" if the user wants to do something on the local machine or host system\n- Output \"expense\" if the user is logging a personal spending/expense transaction, such as saying they spent, paid, bought, used, or were charged money\n- Output \"visualize\" if the user asked to visualize the data from the expense\n- Output \"normal\" for everything else\n\n### User Input:\n{{ $('Receive Msg (POST)').item.json.body.message }}\n"
      },
      "id": "a45f526d-8bc4-49d8-aa6d-b87603146ce2",
      "name": "Task Classifier Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        3376,
        1648
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "9be364b0-f35c-4dcd-b8c2-67ed3bc8a659",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "command",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52843313-7117-47a1-8841-06daa8c65c76",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "normal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "4ea4d524-f08f-4257-92de-820db6984970",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "expense",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "5ac28762-dbc6-48c5-b919-48104165ea46",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "visualize",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "e451dd75-a405-465a-96c5-30da0e94d986",
      "name": "Agent Switch Task",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3744,
        1616
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a command task summarizer.\n\nYour ONLY job is to rewrite the user's input into a short, plain English instruction suitable for executing on a local machine.\n\n### Rules:\n- Output ONLY the rewritten task string\n- Write in plain English, imperative form (e.g. \"Open Chrome\", \"Check disk usage\")\n- No JSON, no markdown, no quotes, no punctuation at the end\n- Keep it short — one sentence maximum\n- Do NOT explain what you are doing\n- Do NOT add any other text before or after the task\n\n### User Input:\n{{ $('Receive Msg (POST)').item.json.body.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4064,
        1200
      ],
      "id": "488b6189-4c45-4fe6-89ed-69b30896cd7f",
      "name": "Command Task Summarizer"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6e396f84-f7bb-4e40-8d1c-849a934a8759",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "Windows",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "8c4e4a2d-051c-453c-b7ac-66e4b604baff",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "Darwin",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "239ab877-b3b0-4c0f-94c0-d5b4960e2c05",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "Linux",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4528,
        1216
      ],
      "id": "a2bfc401-6e00-4551-a45d-d40f680e9d30",
      "name": "If = OS"
    },
    {
      "parameters": {
        "jsCode": "const raw  = ($input.first().json.stdout || '').trim().toLowerCase();\nconst task = $('Receive Msg (POST)').first().json.body.message || '';\n\nlet os = 'unknown';\nif (raw.includes('darwin'))                                                   os = 'macos';\nelse if (raw.includes('linux'))                                               os = 'linux';\nelse if (raw.includes('windows') || raw.includes('mingw') || raw.includes('cygwin')) os = 'windows';\n\nreturn [{ json: { detectedOS: os, task } }];"
      },
      "id": "a8e147ea-2259-49d3-9f9a-43c6b847ccd8",
      "name": "Parse OS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4720,
        1200
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.task }}",
        "options": {
          "systemMessage": "=You are a multi-platform terminal assistant for macOS, Linux, and Windows.\n\nThe detected OS is: {{ $json.detectedOS }}. Task: {{ $json.task }}.\n\nThe user wants to perform a task on their machine. Convert their plain-English request into the correct shell command for the detected OS.\n\nCRITICAL RULES:\n1. Use ONLY the detected OS above — never output commands for another OS.\n2. Extract file paths, URLs, app names EXACTLY as the user typed them.\n3. Wrap paths that contain spaces in quotes appropriate for the OS.\n4. Respond ONLY with this JSON — no markdown, no backticks, no extra text:\n\n{\"command\":\"<exact shell command for detected OS>\",\"description\":\"<one sentence: what this command does>\",\"os\":\"<macos|linux|windows>\",\"risk\":\"<low|medium|high>\",\"riskReason\":\"<one sentence explaining the risk level>\"}\n5. DO NOT include nested quotes inside target unless absolutely necessary.\n\nRisk guide:\n- low   = read-only / open apps / search queries\n- medium = create or modify files / install software / change settings\n- high  = delete files / kill processes / system-wide or irreversible changes "
        }
      },
      "id": "801791f8-ba04-4499-9715-0d916b5b1771",
      "name": "Multi-Platform Terminal Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4880,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// --- helpers ---\nfunction cleanField(value) {\n  if (value == null) return '';\n  let v = String(value).trim();\n  if ((v.startsWith('\"') && v.endsWith('\"')) ||\n      (v.startsWith(\"'\") && v.endsWith(\"'\"))) {\n    v = v.slice(1, -1).trim();\n  }\n  return v;\n}\n\nfunction repairJson(text) {\n  // Fix missing opening quote on keys: ,description\" → ,\"description\"\n  return text.replace(/,([a-zA-Z_][a-zA-Z0-9_]*)\":/g, ',\"$1\":');\n}\n\nfunction tryParse(text) {\n  try { return JSON.parse(text); } catch { return null; }\n}\n\n// --- main ---\nconst rawOutput = data.output ?? data.text ?? data.response ?? '';\nconst cleaned = String(rawOutput)\n  .replace(/<think>[\\s\\S]*?<\\/think>/gi, '')\n  .replace(/^```[\\w]*\\n?/gm, '')\n  .replace(/```$/gm, '')\n  .trim();\n\n// 1. Direct parse\nlet parsed = tryParse(cleaned);\n\n// 2. Repair missing opening quotes then re-parse\nif (!parsed) {\n  parsed = tryParse(repairJson(cleaned));\n}\n\n// 3. Extract balanced JSON block and try again\nif (!parsed) {\n  const start = cleaned.indexOf('{');\n  if (start !== -1) {\n    parsed = tryParse(repairJson(cleaned.slice(start)));\n  }\n}\n\nif (!parsed) throw new Error(`Could not parse Ollama output as JSON:\\n${cleaned}`);\n\nconst command     = cleanField(parsed.command);\nconst description = cleanField(parsed.description);\nconst os          = cleanField(parsed.os)?.toLowerCase();\nconst risk        = cleanField(parsed.risk)?.toLowerCase();\nconst riskReason  = cleanField(parsed.riskReason);\n\nif (!command)     throw new Error(`Missing command field in Ollama output:\\n${cleaned}`);\nif (!description) throw new Error(`Missing description field in Ollama output:\\n${cleaned}`);\nif (!['macos','linux','windows'].includes(os))   throw new Error(`Invalid os field: ${parsed.os}`);\nif (!['low','medium','high'].includes(risk))     throw new Error(`Invalid risk field: ${parsed.risk}`);\nif (!riskReason)  throw new Error(`Missing riskReason field in Ollama output:\\n${cleaned}`);\n\nlet finalCommand = command;\nif (os === 'windows' && !/powershell(\\.exe)?\\s+-[Cc]ommand/i.test(finalCommand)) {\n  finalCommand = `powershell -Command ${finalCommand.replace(/\"/g, '`\"')}`;\n}\n\nconst riskEmoji = risk === 'low' ? '🟢' : risk === 'medium' ? '🟡' : '🔴';\n\nreturn [{ json: { command: finalCommand, description, os, risk, riskReason, riskEmoji } }];"
      },
      "id": "6cae4066-caa0-4b51-a0b2-9e1bec8a39ea",
      "name": "Parse Command JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5104,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\n\nstaticData.pendingApproval = {\n  approvalRequired: true,\n  approvalUrl: 'http://localhost:5678/webhook/approve-command',\n  command: data.command || '',\n  description: data.description || '',\n  risk: data.risk || '',\n  riskReason: data.riskReason || '',\n  riskEmoji: data.riskEmoji || '',\n  os: data.os || 'unknown',\n  storedAt: Date.now()\n};\n\nreturn [{\n  json: staticData.pendingApproval\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5264,
        912
      ],
      "id": "f896612a-f576-432f-a7e6-f6b1460d289d",
      "name": "Format Response"
    },
    {
      "parameters": {
        "jsCode": "const src = $input.first().json;\n\nreturn [{\n  json: {\n    output: src.chartUrl || src.output || src.result || '',\n    approvalRequired: src.approvalRequired || false,\n    approvalUrl: src.approvalUrl || '',\n    description: src.description || '',\n    command: src.command || '',\n    riskReason: src.riskReason || '',\n    risk: src.risk || '',\n    riskEmoji: src.riskEmoji || ''\n  }\n}];"
      },
      "id": "78b345e2-d251-4c47-bead-2fbd929a7cdd",
      "name": "Format Response 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5424,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst command     = body.command;\nconst description = body.description;\nconst os          = (body.os     ?? 'unknown').toLowerCase();\nconst risk        = (body.risk   ?? 'unknown').toLowerCase();\nconst riskReason  = body.riskReason;\nconst riskEmoji   = body.riskEmoji;\n\nif (!command) throw new Error('No command received in approval response.');\n\nreturn [{ json: { command, description, os, risk, riskReason, riskEmoji } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5648,
        1104
      ],
      "id": "90760edf-bc42-4e65-99f6-d31b641805e6",
      "name": "Format Response 2"
    },
    {
      "parameters": {
        "jsCode": "const src = $input.first().json;\n\nreturn [{\n  json: {\n    output: src.chartUrl || src.url || src.output || src.result || ''\n  }\n}];"
      },
      "id": "fd5b7db2-8be0-4f57-bbf2-01aa46a56569",
      "name": "Format Response 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6592,
        1984
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful AI assistant with access to the user's calendar, documents, and web search capabilities.\n\n**Current Context:**\n- Date & Time: {{ $now.toFormat('EEEE, MMMM d, yyyy, h:mm a') }} (Hong Kong Time, UTC+8)\n- Today: {{ $now.toFormat('MMMM d, yyyy') }}\n- This year: {{ $now.year }}\n\n**Instructions:**\n1. Use the User Profile below to understand the user's schedule, projects, preferences, and context\n2. Answer naturally and conversationally - don't explicitly mention \"according to your profile\" unless directly relevant\n3. For time-sensitive queries (e.g., \"today\", \"this week\", \"next month\"), use the current date/time above\n4. When interpreting dates without year (e.g., \"21/2\", \"Feb 21\"), assume year {{ $now.year }}\n5. Prioritize using available tools (calendar, documents, web search) over general knowledge when answering\n6. You have access to a shell execution tool. Here is some examples:\n   - Run a command or script on the host machine\n   - Check system status, disk usage, processes, or logs\n   - Manage files on the server\n   - Any task requiring direct terminal/OS access\n   Always describe what command you will run before invoking it.\n\n**User Profile:**\n{{ $('Extract from File').item.json.data || 'No profile data available yet.' }}\n\n**User Query:**\n{{ $('Receive Msg (POST)').item.json.body.message }}\n\n---\nProvide a helpful, accurate, and contextually relevant response based on the user's query and profile.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4848,
        1504
      ],
      "id": "855739c7-b75b-4dbf-bd0f-6b6e9867017d",
      "name": "Simple Task AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==You are a helpful AI assistant with access to the user's calendar, documents, and web search capabilities.\n\n**Current Context:**\n- Date & Time: {{ $now.toFormat('EEEE, MMMM d, yyyy, h:mm a') }} (Hong Kong Time, UTC+8)\n- Today: {{ $now.toFormat('MMMM d, yyyy') }}\n- This year: {{ $now.year }}\n\n**Instructions:**\n1. Use the User Profile below to understand the user's schedule, projects, preferences, and context\n2. Answer naturally and conversationally - don't explicitly mention \"according to your profile\" unless directly relevant\n3. For time-sensitive queries (e.g., \"today\", \"this week\", \"next month\"), use the current date/time above\n4. When interpreting dates without year (e.g., \"21/2\", \"Feb 21\"), assume year {{ $now.year }}\n5. Prioritize using available tools (calendar, documents, web search) over general knowledge when answering\n6. You have access to a shell execution tool. Use it when the user asks to:\n   - Run a command or script on the host machine\n   - Check system status, disk usage, processes, or logs\n   - Manage files on the server\n   - Any task requiring direct terminal/OS access\n   Always describe what command you will run before invoking it.\n\n**User Profile:**\n{{ $('Extract from File').item.json.data || 'No profile data available yet.' }}\n\n**User Query:**\n{{ $('Receive Msg (POST)').item.json.body.message }}\n\n---\nProvide a helpful, accurate, and contextually relevant response based on the user's query and profile.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4832,
        2144
      ],
      "id": "438bcd84-6c2a-4b80-bc81-d9097e3f8592",
      "name": "Hard Task AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expense extractor. Extract the amount and category from the user's message.\n\nOUTPUT RULES:\n1. Output ONLY valid JSON. No explanation, no markdown, no code blocks.\n2. Use EXACTLY this format: {\"amount\": <number>, \"category\": \"<string>\", \"gain\": \"<boolean>\"}\n3. amount must be a positive plain number (e.g. 50, not \"$50\")\n4. category must be ONE of: For not gain: Food, Transport, Shopping, Entertainment, Health, Utilities, Other. For gain: Salary, Freelance, Business, Investment, Rental, Other\n5. gain must be: 0 for loss / expense / money spent, 1 for gain / income / money recieved\n\nCurrent Time is: {{ $now }}\nUser message: {{ $('Receive Msg (POST)').item.json.body.message }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4272,
        2880
      ],
      "id": "b1a10b4a-98f9-4fba-a0bb-46eb1dd8fced",
      "name": "Expense Extractor AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\nconst cleaned = raw.replace(/```json|```/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  const match = cleaned.match(/\\{.*\\}/s);\n  parsed = match ? JSON.parse(match[0]) : { amount: null, category: \"Other\" };\n}\n\nconst parsedGain = !!(parsed.gain === true || parsed.gain === 1);\n\n// Use $now for actual current date + time (Luxon DateTime in n8n)\nconst time = $now\n\nreturn [{ json: { \n  amount: parsed.amount, \n  category: parsed.category,\n  gain: parsedGain,\n  time,\n  raw: $('Receive Msg (POST)').first().json.body.message\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4624,
        2880
      ],
      "id": "149c36be-716d-43d4-8961-2160bf509000",
      "name": "Format Response 4"
    },
    {
      "parameters": {
        "resource": "table",
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4832,
        2880
      ],
      "id": "322fe41e-0a1f-4dbd-ba34-cb6c1b682fbb",
      "name": "List expenses Table",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "03348049-ca71-42b4-8e68-717a5ad6a854",
              "leftValue": "={{ $items(\"List expenses Table\").map(i => i.json.name).includes(\"expenses\") }}",
              "rightValue": 1,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5056,
        2880
      ],
      "id": "6ffefc84-d677-4d18-a609-1d37b1fb71e4",
      "name": "If expenses Table Exists"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "589f4826-5e3d-4ea3-aea5-e26cac27d64d",
              "name": "result",
              "value": "The expense is successfully added into the database.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5520,
        2784
      ],
      "id": "978f374f-8f14-45c2-9ee2-39911dd464e8",
      "name": "Return Response"
    }
  ],
  "connections": {
    "Serve UI (GET)": {
      "main": [
        [
          {
            "node": "Define HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define HTML": {
      "main": [
        [
          {
            "node": "Respond HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Local File (UTF8)": {
      "main": [
        [
          {
            "node": "Memory Updater",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory Updater": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Save Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Task Classifier Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complexity Switch": {
      "main": [
        [
          {
            "node": "Simple Task AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hard Task AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar2": {
      "ai_tool": [
        [
          {
            "node": "Simple Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar3": {
      "ai_tool": [
        [
          {
            "node": "Hard Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Simple Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Simple Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs1": {
      "ai_tool": [
        [
          {
            "node": "Hard Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a document in Google Docs1": {
      "ai_tool": [
        [
          {
            "node": "Hard Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Simple Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily1": {
      "ai_tool": [
        [
          {
            "node": "Hard Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Simple Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "Hard Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Simple Task AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Hard Task AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classifier Agent": {
      "main": [
        [
          {
            "node": "Complexity Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Classifier Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Command Task Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Task Classifier Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Expense Extractor AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create expenses table": {
      "main": [
        [
          {
            "node": "List expenses Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Classifier Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Audio": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive TTS": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Multi-Platform Terminal Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Is Approved": {
      "main": [
        [
          {
            "node": "Format Response 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Denied Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Denied Response": {
      "main": [
        [
          {
            "node": "Format Response 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Format Response 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute command": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return macOS, Linux": {
      "main": [
        [
          {
            "node": "If = OS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return Windows": {
      "main": [
        [
          {
            "node": "If = OS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to UI": {
      "main": [
        []
      ]
    },
    "Respond to UI3": {
      "main": [
        []
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Is Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complexity Switch1": {
      "main": [
        [
          {
            "node": "gainChart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lossChart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classifier Agent2": {
      "main": [
        [
          {
            "node": "Complexity Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classifier Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gainChart": {
      "main": [
        [
          {
            "node": "Respond to UI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lossChart": {
      "main": [
        [
          {
            "node": "Respond to UI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Morning Schedule (7 AM)": {
      "main": [
        [
          {
            "node": "Get Today's Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Calendar": {
      "main": [
        [
          {
            "node": "Get Overnight Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Overnight Emails": {
      "main": [
        [
          {
            "node": "Build Briefing Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Briefing Context": {
      "main": [
        [
          {
            "node": "Morning Analyst Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Morning Analyst Agent": {
      "main": [
        [
          {
            "node": "Send Morning Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get any messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Simple Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Simple Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "Simple Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Simple Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Simple Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Simple Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get any messages in Gmail1": {
      "ai_tool": [
        [
          {
            "node": "Hard Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail1": {
      "ai_tool": [
        [
          {
            "node": "Hard Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders in Google Drive1": {
      "ai_tool": [
        [
          {
            "node": "Hard Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "Hard Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "Hard Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "Hard Task AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Receive Msg (POST)": {
      "main": [
        [
          {
            "node": "Read Local File (UTF8)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Classifier Agent": {
      "main": [
        [
          {
            "node": "Agent Switch Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Switch Task": {
      "main": [
        [
          {
            "node": "Command Task Summarizer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classifier Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Expense Extractor AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Task Summarizer": {
      "main": [
        [
          {
            "node": "return Windows",
            "type": "main",
            "index": 0
          },
          {
            "node": "return macOS, Linux",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If = OS": {
      "main": [
        [
          {
            "node": "Parse OS",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Parse OS": {
      "main": [
        [
          {
            "node": "Multi-Platform Terminal Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Multi-Platform Terminal Assistant": {
      "main": [
        [
          {
            "node": "Parse Command JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command JSON": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Format Response 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response 1": {
      "main": [
        [
          {
            "node": "Respond to UI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response 2": {
      "main": [
        [
          {
            "node": "Execute command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response 3": {
      "main": [
        [
          {
            "node": "Respond to UI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Task AI Agent": {
      "main": [
        [
          {
            "node": "Format Response 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hard Task AI Agent": {
      "main": [
        [
          {
            "node": "Format Response 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expense Extractor AI Agent": {
      "main": [
        [
          {
            "node": "Format Response 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response 4": {
      "main": [
        [
          {
            "node": "List expenses Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List expenses Table": {
      "main": [
        [
          {
            "node": "If expenses Table Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If expenses Table Exists": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create expenses table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Response": {
      "main": [
        [
          {
            "node": "Format Response 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bece01e17653611451518fe49e24b76be4a7dd799bc675ccb15e6ca44a1eb7c9"
  }
}