main workflow.json
{
  "nodes": [
    {
      "parameters": {
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "536177cf-83fb-4649-894c-388323ff0f63",
      "name": "Serve UI (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1072,
        -368
      ],
      "webhookId": "ui-webhook"
    },
    {
      "parameters": {
        "jsCode": "const html = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>n8n Agent UI</title>\n  <style>\n    :root {\n      --bg-color: #121212;\n      --chat-bg: #1e1e1e;\n      --user-msg: #ea4b71;\n      --bot-msg: #2d2d2d;\n      --text-color: #e0e0e0;\n    }\n    body { margin: 0; font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif; background: var(--bg-color); color: var(--text-color); display: flex; justify-content: center; height: 100vh; }\n    .chat-container { width: 100%; max-width: 600px; background: var(--chat-bg); display: flex; flex-direction: column; height: 100%; box-shadow: 0 0 20px rgba(0,0,0,0.5); }\n    .header { padding: 20px; border-bottom: 1px solid #333; font-weight: bold; display: flex; align-items: center; gap: 10px; }\n    .header-dot { width: 10px; height: 10px; background: #2ecc71; border-radius: 50%; }\n    .messages { flex: 1; overflow-y: auto; padding: 20px; display: flex; flex-direction: column; gap: 15px; }\n    .message { max-width: 80%; padding: 12px 16px; border-radius: 12px; line-height: 1.4; font-size: 15px; }\n    .message.user { align-self: flex-end; background: var(--user-msg); color: white; border-bottom-right-radius: 2px; }\n    .message.bot { align-self: flex-start; background: var(--bot-msg); color: var(--text-color); border-bottom-left-radius: 2px; }\n    .input-area { padding: 20px; border-top: 1px solid #333; display: flex; gap: 10px; align-items: center; }\n    input { flex: 1; padding: 12px; border-radius: 8px; border: 1px solid #444; background: #2d2d2d; color: white; outline: none; transition: border-color 0.2s; }\n    input:focus { border-color: var(--user-msg); }\n    button { padding: 12px 20px; border-radius: 8px; border: none; background: var(--user-msg); color: white; font-weight: bold; cursor: pointer; transition: opacity 0.2s; }\n    button:hover { opacity: 0.9; }\n    button:disabled { opacity: 0.5; cursor: not-allowed; }\n    #mic-btn { background: #2d2d2d; border: 1px solid #555; font-size: 18px; padding: 10px 14px; flex-shrink: 0; }\n    #mic-btn.recording { background: #ea4b71; border-color: #ea4b71; animation: pulse 1s infinite; }\n    @keyframes pulse { 0%,100% { opacity: 1; } 50% { opacity: 0.5; } }\n    .status { font-size: 12px; color: #888; padding: 0 20px 8px; min-height: 18px; }\n  </style>\n</head>\n<body>\n  <div class=\"chat-container\">\n    <div class=\"header\"><div class=\"header-dot\"></div>n8n Agent</div>\n    <div class=\"messages\" id=\"messages\">\n      <div class=\"message bot\">Hello! I am your n8n assistant. You can type or use the 🎤 mic button to speak.</div>\n    </div>\n    <div class=\"status\" id=\"status\"></div>\n    <form class=\"input-area\" id=\"chat-form\">\n      <button type=\"button\" id=\"mic-btn\" title=\"Click to record\">🎤</button>\n      <input type=\"text\" id=\"input\" placeholder=\"Type or speak a message...\" autocomplete=\"off\" />\n      <button type=\"submit\" id=\"send-btn\">Send</button>\n    </form>\n  </div>\n\n  <script>\n    const form = document.getElementById('chat-form');\n    const input = document.getElementById('input');\n    const messages = document.getElementById('messages');\n    const sendBtn = document.getElementById('send-btn');\n    const micBtn = document.getElementById('mic-btn');\n    const status = document.getElementById('status');\n\n    // ── API endpoints ─────────────────────────────\n    const base = window.location.origin + '/webhook-test';\n    const API_URL     = base + '/chat-response';\n    const WHISPER_URL = base + '/whisper-proxy';\n    const TTS_URL     = base + '/tts-proxy';\n\n    // ── Helpers ───────────────────────────────────\n    function setStatus(msg) { status.textContent = msg; }\n\n    function addMessage(text, sender) {\n      const div = document.createElement('div');\n      div.className = 'message ' + sender;\n    \n      // Check if message contains approval URLs\n      const approveMatch = text.match(/\\[APPROVE\\]\\((https?:\\/\\/[^\\)]+\\?approved=true[^\\)]*)\\)/);\n      const denyMatch = text.match(/\\[DENY\\]\\((https?:\\/\\/[^\\)]+\\?approved=false[^\\)]*)\\)/);\n    \n      if (approveMatch && denyMatch && sender === 'bot') {\n        // Extract the plain text part (before the links)\n        const plainText = text.replace(/\\[APPROVE\\]\\([^\\)]+\\)\\s*/g, '').replace(/\\[DENY\\]\\([^\\)]+\\)\\s*/g, '').trim();\n        div.textContent = plainText;\n    \n        // Create button row\n        const btnRow = document.createElement('div');\n        btnRow.style.cssText = 'display:flex;gap:8px;margin-top:10px;';\n    \n        const approveBtn = document.createElement('button');\n        approveBtn.textContent = '✅ Approve';\n        approveBtn.style.cssText = 'background:#2ecc71;color:white;border:none;padding:8px 16px;border-radius:8px;cursor:pointer;font-weight:bold;';\n    \n        const denyBtn = document.createElement('button');\n        denyBtn.textContent = '❌ Deny';\n        denyBtn.style.cssText = 'background:#e74c3c;color:white;border:none;padding:8px 16px;border-radius:8px;cursor:pointer;font-weight:bold;';\n    \n        // Lock input while waiting\n        setUIBusy(true);\n        setStatus('Waiting for your approval...');\n    \n        approveBtn.addEventListener('click', () => {\n          approveBtn.disabled = true;\n          denyBtn.disabled = true;\n          setStatus('');\n          setUIBusy(false);\n          fetch(approveMatch[1], { mode: 'no-cors' });\n          addMessage('✅ Approved', 'user');\n        });\n    \n        denyBtn.addEventListener('click', () => {\n          approveBtn.disabled = true;\n          denyBtn.disabled = true;\n          setStatus('');\n          setUIBusy(false);\n          fetch(denyMatch[1], { mode: 'no-cors' });\n          addMessage('❌ Denied', 'user');\n        });\n    \n        btnRow.appendChild(approveBtn);\n        btnRow.appendChild(denyBtn);\n        div.appendChild(btnRow);\n      } else {\n        div.textContent = text;\n      }\n    \n      messages.appendChild(div);\n      messages.scrollTop = messages.scrollHeight;\n    }\n\n    function setUIBusy(busy) {\n      input.disabled = busy;\n      sendBtn.disabled = busy;\n      micBtn.disabled = busy;\n    }\n\n    // ── Send text to n8n, get reply, play TTS ─────\n    async function sendMessage(text) {\n      if (!text.trim()) return;\n      addMessage(text, 'user');\n      input.value = '';\n      setUIBusy(true);\n      setStatus('Agent is thinking...');\n\n      try {\n        const res = await fetch(API_URL, {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({ message: text })\n        });\n        const raw = await res.text();\n        let reply = 'No response.';\n        try {\n          const data = JSON.parse(raw);\n          reply = data.output || data.content || data.text || raw;\n        } catch {\n          reply = raw;\n        }\n        addMessage(reply, 'bot');\n\n        setStatus('Generating audio...');\n        const ttsRes = await fetch(TTS_URL + '?text=' + encodeURIComponent(reply));\n        if (ttsRes.ok) {\n          const audioBlob = await ttsRes.blob();\n          const audioUrl = URL.createObjectURL(audioBlob);\n          const audio = new Audio(audioUrl);\n          audio.onended = () => URL.revokeObjectURL(audioUrl);\n          await audio.play();\n        }\n        setStatus('');\n      } catch (err) {\n        console.error(err);\n      } finally {\n        setUIBusy(false);\n        input.focus();\n      }\n    }\n\n    // ── Text form submit ──────────────────────────\n    form.addEventListener('submit', (e) => {\n      e.preventDefault();\n      sendMessage(input.value.trim());\n    });\n\n    // ── Voice recording ───────────────────────────\n    let mediaRecorder = null;\n    let audioChunks = [];\n\n    micBtn.addEventListener('click', async () => {\n      if (mediaRecorder && mediaRecorder.state === 'recording') {\n        mediaRecorder.stop();\n        return;\n      }\n\n      try {\n        const stream = await navigator.mediaDevices.getUserMedia({ audio: true });\n        mediaRecorder = new MediaRecorder(stream);\n        audioChunks = [];\n\n        mediaRecorder.ondataavailable = (e) => audioChunks.push(e.data);\n\n        mediaRecorder.onstop = async () => {\n          micBtn.classList.remove('recording');\n          micBtn.textContent = '🎤';\n          stream.getTracks().forEach(t => t.stop());\n\n          setStatus('Transcribing...');\n          setUIBusy(true);\n\n          try {\n            const audioBlob = new Blob(audioChunks, { type: 'audio/webm' });\n            const formData = new FormData();\n            formData.append('audio_file', audioBlob, 'recording.webm');\n\n            const whisperRes = await fetch(WHISPER_URL, {\n              method: 'POST',\n              body: formData\n            });\n            const whisperData = await whisperRes.json();\n            const transcript = whisperData.text?.trim();\n\n            if (transcript) {\n              setStatus('');\n              setUIBusy(false);\n              await sendMessage(transcript);\n            } else {\n              setStatus(\"Couldn't hear anything — try again.\");\n              setUIBusy(false);\n            }\n          } catch (err) {\n            setStatus('Whisper error: ' + err.message);\n            setUIBusy(false);\n            console.error(err);\n          }\n        };\n\n        mediaRecorder.start();\n        micBtn.classList.add('recording');\n        micBtn.textContent = '⏹';\n        setStatus('Recording... click ⏹ to stop');\n\n      } catch (err) {\n        setStatus('Mic access denied: ' + err.message);\n        console.error(err);\n      }\n    });\n  </script>\n</body>\n</html>\n`;\n\nreturn { html };"
      },
      "id": "63e0c120-4299-42aa-bd3d-e36570fff6ac",
      "name": "Define HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        -368
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "308f0ffc-f742-40a5-9b6f-0bdcde6a5d92",
      "name": "Respond HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1520,
        -368
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $env.MEMORY_PATH }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "id": "106492f0-4dea-47b1-a5d3-9d7cb20d6391",
      "name": "Read Local File (UTF8)",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        304,
        224
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:latest",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a File Updater.\nTask: Update the \"Current File\" based on the \"User Input\".\n\n### STRICT OUTPUT RULES:\n1. Output ONLY the updated file content.\n2. Do NOT output headers like \"### FILE CONTENT\" or \"### NEW FILE CONTENT\".\n3. Do NOT output <think> tags.\n4. **Standardize Entries**:\n   - Turn \"class tmr 9am\" into \"- Tomorrow 9am: Class\"\n   - Turn \"gym tonight\" into \"- Today Evening: Gym\"\n\n### DATA:\n[Current File]\n{{ $json.data || '' }}\n\n[User Input]\n{{ $('Receive Msg (POST)1').item.json.body.message }}\n\n### RESPONSE (The Updated File Only):"
            },
            {
              "content": "=Please be reminder the exact date and time now is:\n {{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "643c8631-60d9-4bd0-9d75-f5879cd05023",
      "name": "Memory Updater",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        624,
        688
      ],
      "credentials": {
        "ollamaApi": {
          "id": "JbjAzk6sO4GuD8Io",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0d327446-d69a-4155-9246-498eb1d9a380",
      "name": "Receive Msg (POST)1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        48,
        224
      ],
      "webhookId": "msg-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Convert the AI's text answer into a binary file object for n8n\nconst textContent = items[0].json.content || \"\";\nconst binaryData = Buffer.from(textContent).toString('base64');\n\nreturn {\n  json: { success: true },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'text/markdown',\n      fileName: 'summary.md'\n    }\n  }\n};"
      },
      "id": "ecc8fad2-a335-4140-ae72-229722eefc8f",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        688
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $env.MEMORY_PATH }}",
        "options": {
          "append": true
        }
      },
      "id": "8ffb5ea7-0dd1-4ecb-807b-8e80bb94e7b7",
      "name": "Save Summary1",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1072,
        688
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        848,
        128
      ],
      "id": "d1e75168-2930-4a46-86ec-f8fc0d7f361d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "content": "AI agent after receiving the message",
        "height": 1104,
        "width": 3120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -32
      ],
      "typeVersion": 1,
      "id": "53852cdb-75de-43da-8fe4-8827cc6ca442",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Host the UI",
        "height": 224,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        -464
      ],
      "typeVersion": 1,
      "id": "311bdc00-59f9-4459-9fee-c3851a6bd140",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a strict routing system. Your ONLY job is to classify the complexity of the user's input.\n\nYou must output exactly ONE of the following three tokens:\n1. Simple\n2. Hard\n\n### Rules:\n- Output NOTHING else. No explanations, no punctuation, no markdown.\n- If the input is a factual lookup or formatting task -> Output \"Simple\"\n- If the input requires reasoning, math, coding, or multi-step logic -> Output \"Hard\"\n\n### User Input:\n{{ $('Receive Msg (POST)1').item.json.body.message }}\n"
      },
      "id": "99de925e-43d0-417d-b0f0-75b6568b794d",
      "name": "Classifier Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1600,
        224
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "9be364b0-f35c-4dcd-b8c2-67ed3bc8a659",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Simple",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52843313-7117-47a1-8841-06daa8c65c76",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Hard",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "9ce889a5-01cf-4c79-86c9-79ecf6202a46",
      "name": "Complexity Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1968,
        208
      ]
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        1744,
        432
      ],
      "id": "cd810f9c-9916-433b-9e9c-c8b0eaed420d",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "JbjAzk6sO4GuD8Io",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "llama3.2:latest"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a helpful AI assistant with access to the user's calendar, documents, and web search capabilities.\n\n**Current Context:**\n- Date & Time: {{ $now.toFormat('EEEE, MMMM d, yyyy, h:mm a') }} (Hong Kong Time, UTC+8)\n- Today: {{ $now.toFormat('MMMM d, yyyy') }}\n- This year: {{ $now.year }}\n\n**Instructions:**\n1. Use the User Profile below to understand the user's schedule, projects, preferences, and context\n2. Answer naturally and conversationally - don't explicitly mention \"according to your profile\" unless directly relevant\n3. For time-sensitive queries (e.g., \"today\", \"this week\", \"next month\"), use the current date/time above\n4. When interpreting dates without year (e.g., \"21/2\", \"Feb 21\"), assume year {{ $now.year }}\n5. Prioritize using available tools (calendar, documents, web search) over general knowledge when answering\n6. You have access to a shell execution tool. Use it when the user asks to:\n   - Run a command or script on the host machine\n   - Check system status, disk usage, processes, or logs\n   - Manage files on the server\n   - Any task requiring direct terminal/OS access\n   Always describe what command you will run before invoking it.\n\n**User Profile:**\n{{ $('Extract from File').item.json.data || 'No profile data available yet.' }}\n\n**User Query:**\n{{ $('Receive Msg (POST)1').item.json.body.message }}\n\n---\nProvide a helpful, accurate, and contextually relevant response based on the user's query and profile.\n"
            },
            {
              "content": "=Please be reminder the exact date and time now is:\n {{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "48b8a1e1-34fa-48ca-9d23-5db5e23bb387",
      "name": "Chat Agent2",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        2224,
        176
      ],
      "credentials": {
        "ollamaApi": {
          "id": "JbjAzk6sO4GuD8Io",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "7da3d460-61b2-4356-b4d6-41e5c5332b80",
      "name": "Respond to UI2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2672,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    output: items[0].json.content\n  }\n};"
      },
      "id": "bf20a2ca-14ff-4407-9968-dc4c514e9a66",
      "name": "Format Response2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        176
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "comp3297groupq@gmail.com",
          "mode": "list",
          "cachedResultName": "comp3297groupq@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2080,
        368
      ],
      "id": "db222f34-e909-4a5c-b7b9-a05b887a73db",
      "name": "Create an event in Google Calendar2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "lIow84PD3zb3dX9h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "qwen3:8b",
          "mode": "list",
          "cachedResultName": "qwen3:8b"
        },
        "messages": {
          "values": [
            {
              "content": "==You are a helpful AI assistant with access to the user's calendar, documents, and web search capabilities.\n\n**Current Context:**\n- Date & Time: {{ $now.toFormat('EEEE, MMMM d, yyyy, h:mm a') }} (Hong Kong Time, UTC+8)\n- Today: {{ $now.toFormat('MMMM d, yyyy') }}\n- This year: {{ $now.year }}\n\n**Instructions:**\n1. Use the User Profile below to understand the user's schedule, projects, preferences, and context\n2. Answer naturally and conversationally - don't explicitly mention \"according to your profile\" unless directly relevant\n3. For time-sensitive queries (e.g., \"today\", \"this week\", \"next month\"), use the current date/time above\n4. When interpreting dates without year (e.g., \"21/2\", \"Feb 21\"), assume year {{ $now.year }}\n5. Prioritize using available tools (calendar, documents, web search) over general knowledge when answering\n6. You have access to a shell execution tool. Use it when the user asks to:\n   - Run a command or script on the host machine\n   - Check system status, disk usage, processes, or logs\n   - Manage files on the server\n   - Any task requiring direct terminal/OS access\n   Always describe what command you will run before invoking it.\n\n**User Profile:**\n{{ $('Extract from File').item.json.data || 'No profile data available yet.' }}\n\n**User Query:**\n{{ $('Receive Msg (POST)1').item.json.body.message }}\n\n---\nProvide a helpful, accurate, and contextually relevant response based on the user's query and profile.\n"
            },
            {
              "content": "=Please be reminder the exact date and time now is:\n {{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6825bb2-93b8-44d6-a7d8-38c7d13091d8",
      "name": "Chat Agent3",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        2224,
        624
      ],
      "credentials": {
        "ollamaApi": {
          "id": "JbjAzk6sO4GuD8Io",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "20ba6533-c914-4385-a512-18c1601fe911",
      "name": "Respond to UI3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2672,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    output: items[0].json.content\n  }\n};"
      },
      "id": "a6de3768-a253-4f5b-bcb2-c17f45bbac47",
      "name": "Format Response3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        624
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "comp3297groupq@gmail.com",
          "mode": "list",
          "cachedResultName": "comp3297groupq@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2096,
        832
      ],
      "id": "dfcf0ff3-c792-4c30-978f-6ddee3b2bb5d",
      "name": "Create an event in Google Calendar3",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "lIow84PD3zb3dX9h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        2368,
        368
      ],
      "id": "822a0493-e79a-44e6-97e8-52b562b9c111",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "nAZgZTJOfUMDrAvd",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        2512,
        368
      ],
      "id": "82dc13d5-820f-494f-aa0b-c788bcceb794",
      "name": "Update a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "nAZgZTJOfUMDrAvd",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        2368,
        832
      ],
      "id": "36addf42-ba6f-409b-9887-08dd3802f63e",
      "name": "Get a document in Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "nAZgZTJOfUMDrAvd",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        2512,
        832
      ],
      "id": "3d69fc77-a474-4c9b-a6fa-e679f3111d19",
      "name": "Update a document in Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "nAZgZTJOfUMDrAvd",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        2672,
        368
      ],
      "id": "a418310d-4f35-4bdd-9fb7-2dc77d08b21c",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "I1ziYrLvlAMSftXf",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        2656,
        832
      ],
      "id": "fc08466a-ff3d-4431-8638-932baebcd172",
      "name": "Search in Tavily1",
      "credentials": {
        "tavilyApi": {
          "id": "I1ziYrLvlAMSftXf",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "comp3297groupq@gmail.com",
          "mode": "list",
          "cachedResultName": "comp3297groupq@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2224,
        368
      ],
      "id": "a953f7ff-acde-4fd0-b259-6fc02da26df8",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "lIow84PD3zb3dX9h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "comp3297groupq@gmail.com",
          "mode": "list",
          "cachedResultName": "comp3297groupq@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2224,
        832
      ],
      "id": "891ae924-9ef3-42f6-889e-9052f621bd4a",
      "name": "Get many events in Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "lIow84PD3zb3dX9h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "description": "The shell command to execute on the host machine",
        "workflowId": {
          "__rl": true,
          "value": "A60rvis8YDr5wt1g",
          "mode": "list",
          "cachedResultUrl": "/workflow/A60rvis8YDr5wt1g",
          "cachedResultName": "SSH sub-workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2832,
        832
      ],
      "id": "0d99aad0-9e0c-4428-8c79-56fbed2a4692",
      "name": "Call 'My Sub-Workflow 1'1"
    },
    {
      "parameters": {
        "description": "The shell command to execute on the host machine",
        "workflowId": {
          "__rl": true,
          "value": "A60rvis8YDr5wt1g",
          "mode": "list",
          "cachedResultUrl": "/workflow/A60rvis8YDr5wt1g",
          "cachedResultName": "SSH sub-workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2832,
        368
      ],
      "id": "c6b87403-6429-4525-973d-16dfa17a0488",
      "name": "Call 'SSH sub-workflow'"
    }
  ],
  "connections": {
    "Serve UI (GET)": {
      "main": [
        [
          {
            "node": "Define HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define HTML": {
      "main": [
        [
          {
            "node": "Respond HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Local File (UTF8)": {
      "main": [
        [
          {
            "node": "Memory Updater",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory Updater": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Msg (POST)1": {
      "main": [
        [
          {
            "node": "Read Local File (UTF8)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Save Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Classifier Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classifier Agent": {
      "main": [
        [
          {
            "node": "Complexity Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complexity Switch": {
      "main": [
        [
          {
            "node": "Chat Agent2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classifier Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Agent2": {
      "main": [
        [
          {
            "node": "Format Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response2": {
      "main": [
        [
          {
            "node": "Respond to UI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar2": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Agent3": {
      "main": [
        [
          {
            "node": "Format Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response3": {
      "main": [
        [
          {
            "node": "Respond to UI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar3": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs1": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a document in Google Docs1": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily1": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'My Sub-Workflow 1'1": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SSH sub-workflow'": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bece01e17653611451518fe49e24b76be4a7dd799bc675ccb15e6ca44a1eb7c9"
  }
}