ssh subworkflow.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "command"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1104,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const command = $input.first().json.command || \"\";\nconst confirmed = $input.first().json.confirmed === true;\n\n// Block dangerous commands\nconst blocked = [\n  \"rm -rf\", \"format\", \"del /f\", \"shutdown\", \"rmdir /s\",\n  \"Remove-Item -Recurse\", \"rd /s\", \"reg delete\",\n  \"net user\", \"Stop-Computer\", \"Restart-Computer\",\n  \"Clear-Disk\", \"Initialize-Disk\"\n];\nconst isDangerous = blocked.some(b => command.toLowerCase().includes(b.toLowerCase()));\n\nreturn {\n  json: {\n    command: command,\n    blocked: isDangerous,\n    confirmed: confirmed\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        336
      ],
      "id": "dab18fb5-eace-48ed-9987-0c2a3c409568",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "blocked-result-001",
              "name": "result",
              "value": "Command blocked: this command is not allowed for safety reasons.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        208
      ],
      "id": "c07622cb-6552-4ea3-8591-919eba500301",
      "name": "Blocked Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "approved-check-001",
              "leftValue": "={{ $json.query.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        448
      ],
      "id": "931f8cb1-606f-465e-b8f9-3bb553b1aaf7",
      "name": "Is Approved"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "denied-result-001",
              "name": "result",
              "value": "Command was denied by the user.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        576
      ],
      "id": "c44ed77d-42a0-4b53-b97f-5d31cd9c3ff5",
      "name": "Denied Response"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=={{ $('Code in JavaScript').item.json.command }}"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        592,
        320
      ],
      "id": "09493cce-f6f1-4d01-82e3-85a3328c9828",
      "name": "Run on Host",
      "credentials": {
        "sshPrivateKey": {
          "id": "BeYJCrc429ALOgX3",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout?.trim() || \"\";\nconst stderr = $input.first().json.stderr?.trim() || \"\";\nconst code = $input.first().json.code ?? 0;\n\nreturn {\n  json: {\n    result: stdout\n      ? `Command executed:\\n\\`\\`\\`\\n${stdout}\\n\\`\\`\\``\n      : `Command failed (exit ${code}):\\n${stderr}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        320
      ],
      "id": "1f16ab4e-b80e-45c3-9039-fbf90e76a91f",
      "name": "Format Result"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-result-001",
              "name": "result",
              "value": "={{ $json.result }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        320
      ],
      "id": "0b575259-c1a5-485e-bfc8-790b700cf759",
      "name": "Success Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb237aa3-bff9-41d5-8043-3ce7ea456a44",
              "name": "result",
              "value": "==I need your approval to run this command:\n{{ $('Code in JavaScript').item.json.command }}\n\n[APPROVE]({{ $execution.resumeUrl }}?approved=true) [DENY]({{ $execution.resumeUrl }}?approved=false)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        448
      ],
      "id": "910bfa45-7fc2-4238-9914-d6fafbf2fb4e",
      "name": "Ask for approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3fe9e5e9-1199-4c89-99fb-d8afc225790d",
              "leftValue": "={{ $json.blocked }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -576,
        336
      ],
      "id": "85619695-736f-426a-b753-f57efa1c8ca3",
      "name": "check if the command is in the blocked list"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "ssh-approval"
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -32,
        448
      ],
      "id": "5ac2be36-d105-4ccc-98ea-ff630dfefdb5",
      "name": "Wait",
      "webhookId": "ff6ed349-317a-4fc7-aa0d-87155297eec0"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "check if the command is in the blocked list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approved": {
      "main": [
        [
          {
            "node": "Run on Host",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Denied Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run on Host": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask for approval": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if the command is in the blocked list": {
      "main": [
        [
          {
            "node": "Blocked Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask for approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Is Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bece01e17653611451518fe49e24b76be4a7dd799bc675ccb15e6ca44a1eb7c9"
  }
}