brian/n8n/STT workflow.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7cccf2aa-047f-4a5f-b8a5-0b884edc12e5",
      "name": "Serve UI (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        96
      ],
      "webhookId": "ui-webhook"
    },
    {
      "parameters": {
        "jsCode": "const html = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>n8n Agent UI</title>\n  <style>\n    :root {\n      --bg-color: #121212;\n      --chat-bg: #1e1e1e;\n      --user-msg: #ea4b71;\n      --bot-msg: #2d2d2d;\n      --text-color: #e0e0e0;\n    }\n    body { margin: 0; font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif; background: var(--bg-color); color: var(--text-color); display: flex; justify-content: center; height: 100vh; }\n    .chat-container { width: 100%; max-width: 600px; background: var(--chat-bg); display: flex; flex-direction: column; height: 100%; box-shadow: 0 0 20px rgba(0,0,0,0.5); }\n    .header { padding: 20px; border-bottom: 1px solid #333; font-weight: bold; display: flex; align-items: center; gap: 10px; }\n    .header-dot { width: 10px; height: 10px; background: #2ecc71; border-radius: 50%; }\n    .messages { flex: 1; overflow-y: auto; padding: 20px; display: flex; flex-direction: column; gap: 15px; }\n    .message { max-width: 80%; padding: 12px 16px; border-radius: 12px; line-height: 1.4; font-size: 15px; }\n    .message.user { align-self: flex-end; background: var(--user-msg); color: white; border-bottom-right-radius: 2px; }\n    .message.bot { align-self: flex-start; background: var(--bot-msg); color: var(--text-color); border-bottom-left-radius: 2px; }\n    .input-area { padding: 20px; border-top: 1px solid #333; display: flex; gap: 10px; align-items: center; }\n    input { flex: 1; padding: 12px; border-radius: 8px; border: 1px solid #444; background: #2d2d2d; color: white; outline: none; transition: border-color 0.2s; }\n    input:focus { border-color: var(--user-msg); }\n    button { padding: 12px 20px; border-radius: 8px; border: none; background: var(--user-msg); color: white; font-weight: bold; cursor: pointer; transition: opacity 0.2s; }\n    button:hover { opacity: 0.9; }\n    button:disabled { opacity: 0.5; cursor: not-allowed; }\n    #mic-btn { background: #2d2d2d; border: 1px solid #555; font-size: 18px; padding: 10px 14px; flex-shrink: 0; }\n    #mic-btn.recording { background: #ea4b71; border-color: #ea4b71; animation: pulse 1s infinite; }\n    @keyframes pulse { 0%,100% { opacity: 1; } 50% { opacity: 0.5; } }\n    .status { font-size: 12px; color: #888; padding: 0 20px 8px; min-height: 18px; }\n  </style>\n</head>\n<body>\n  <div class=\"chat-container\">\n    <div class=\"header\"><div class=\"header-dot\"></div>n8n Agent</div>\n    <div class=\"messages\" id=\"messages\">\n      <div class=\"message bot\">Hello! I am your n8n assistant. You can type or use the 🎤 mic button to speak.</div>\n    </div>\n    <div class=\"status\" id=\"status\"></div>\n    <form class=\"input-area\" id=\"chat-form\">\n      <button type=\"button\" id=\"mic-btn\" title=\"Hold to record\">🎤</button>\n      <input type=\"text\" id=\"input\" placeholder=\"Type or speak a message...\" autocomplete=\"off\" />\n      <button type=\"submit\" id=\"send-btn\">Send</button>\n    </form>\n  </div>\n\n  <script>\n    const form = document.getElementById('chat-form');\n    const input = document.getElementById('input');\n    const messages = document.getElementById('messages');\n    const sendBtn = document.getElementById('send-btn');\n    const micBtn = document.getElementById('mic-btn');\n    const status = document.getElementById('status');\n\n    const currentPath = window.location.pathname;\n    const basePath = currentPath.substring(0, currentPath.lastIndexOf('/'));\n    const API_URL = window.location.origin + basePath + '/chat-response';\n\n    // ── Whisper and TTS are exposed on localhost ──\n    const WHISPER_URL = 'http://localhost:8000/asr?language=en&output=json';\n    const TTS_URL     = 'http://localhost:5000/api/tts';\n\n    // ── Helpers ──────────────────────────────────\n    function setStatus(msg) { status.textContent = msg; }\n\n    function addMessage(text, sender) {\n      const div = document.createElement('div');\n      div.className = 'message ' + sender;\n      div.textContent = text;\n      messages.appendChild(div);\n      messages.scrollTop = messages.scrollHeight;\n    }\n\n    function setUIBusy(busy) {\n      input.disabled = busy;\n      sendBtn.disabled = busy;\n      micBtn.disabled = busy;\n    }\n\n    // ── Send text to n8n, get reply, play TTS ────\n    async function sendMessage(text) {\n      if (!text.trim()) return;\n      addMessage(text, 'user');\n      input.value = '';\n      setUIBusy(true);\n      setStatus('Agent is thinking...');\n\n      try {\n        // 1. Call n8n chat-response webhook\n        const res = await fetch(API_URL, {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({ message: text })\n        });\n        const data = await res.json();\n        const reply = data.output || 'No response from agent.';\n        addMessage(reply, 'bot');\n\n        // 2. Convert reply to speech\n        setStatus('Generating audio...');\n        const ttsRes = await fetch(TTS_URL + '?text=' + encodeURIComponent(reply));\n        if (ttsRes.ok) {\n          const audioBlob = await ttsRes.blob();\n          const audioUrl = URL.createObjectURL(audioBlob);\n          const audio = new Audio(audioUrl);\n          audio.onended = () => URL.revokeObjectURL(audioUrl);\n          await audio.play();\n        }\n        setStatus('');\n      } catch (err) {\n        addMessage('Error: Could not reach the agent.', 'bot');\n        console.error(err);\n        setStatus('');\n      } finally {\n        setUIBusy(false);\n        input.focus();\n      }\n    }\n\n    // ── Text form submit ─────────────────────────\n    form.addEventListener('submit', (e) => {\n      e.preventDefault();\n      sendMessage(input.value.trim());\n    });\n\n    // ── Voice recording ──────────────────────────\n    let mediaRecorder = null;\n    let audioChunks = [];\n\n    micBtn.addEventListener('click', async () => {\n      // If already recording, stop it\n      if (mediaRecorder && mediaRecorder.state === 'recording') {\n        mediaRecorder.stop();\n        return;\n      }\n\n      // Start recording\n      try {\n        const stream = await navigator.mediaDevices.getUserMedia({ audio: true });\n        mediaRecorder = new MediaRecorder(stream);\n        audioChunks = [];\n\n        mediaRecorder.ondataavailable = (e) => audioChunks.push(e.data);\n\n        mediaRecorder.onstop = async () => {\n          micBtn.classList.remove('recording');\n          micBtn.textContent = '🎤';\n          stream.getTracks().forEach(t => t.stop());\n\n          setStatus('Transcribing...');\n          setUIBusy(true);\n\n          try {\n            // 3. POST audio to Whisper\n            const audioBlob = new Blob(audioChunks, { type: 'audio/webm' });\n            const formData = new FormData();\n            formData.append('audio_file', audioBlob, 'recording.webm');\n\n            const whisperRes = await fetch(WHISPER_URL, {\n              method: 'POST',\n              body: formData\n            });\n            const whisperData = await whisperRes.json();\n            const transcript = whisperData.text?.trim();\n\n            if (transcript) {\n              setStatus('');\n              setUIBusy(false);\n              await sendMessage(transcript);   // reuse the same send pipeline\n            } else {\n              setStatus(\"Couldn't hear anything — try again.\");\n              setUIBusy(false);\n            }\n          } catch (err) {\n            setStatus('Whisper error: ' + err.message);\n            setUIBusy(false);\n            console.error(err);\n          }\n        };\n\n        mediaRecorder.start();\n        micBtn.classList.add('recording');\n        micBtn.textContent = '⏹';\n        setStatus('Recording... click ⏹ to stop');\n\n      } catch (err) {\n        setStatus('Mic access denied: ' + err.message);\n        console.error(err);\n      }\n    });\n  </script>\n</body>\n</html>\n`;\n\nreturn { html };"
      },
      "id": "2175c317-94a6-4d69-a295-6312f17bb3e9",
      "name": "Define HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        96
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "28528c4f-f8cb-4a92-8385-7168f4378918",
      "name": "Respond HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        528,
        96
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $env.MEMORY_PATH }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "id": "fc1c75c2-9506-441b-8931-d5037c816ab8",
      "name": "Read Local File (UTF8)",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -688,
        688
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:latest",
          "mode": "list",
          "cachedResultName": "llama3.2:latest"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a File Updater.\nTask: Update the \"Current File\" based on the \"User Input\".\n\n### STRICT OUTPUT RULES:\n1. Output ONLY the updated file content.\n2. Do NOT output headers like \"### FILE CONTENT\" or \"### NEW FILE CONTENT\".\n3. Do NOT output <think> tags.\n4. **Standardize Entries**:\n   - Turn \"class tmr 9am\" into \"- Tomorrow 9am: Class\"\n   - Turn \"gym tonight\" into \"- Today Evening: Gym\"\n\n### DATA:\n[Current File]\n{{ $json.data || '' }}\n\n[User Input]\n{{ $('Receive Msg (POST)1').item.json.body.message }}\n\n### RESPONSE (The Updated File Only):"
            },
            {
              "content": "=Please be reminder the exact date and time now is:\n {{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "afac78f5-ebd9-4f57-a0d7-40074805ea48",
      "name": "Memory Updater",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -368,
        1152
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "54f027a2-e085-4bd9-a1c1-a989ca20b8ba",
      "name": "Receive Msg (POST)1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -944,
        688
      ],
      "webhookId": "msg-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Convert the AI's text answer into a binary file object for n8n\nconst textContent = items[0].json.content || \"\";\nconst binaryData = Buffer.from(textContent).toString('base64');\n\nreturn {\n  json: { success: true },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'text/markdown',\n      fileName: 'summary.md'\n    }\n  }\n};"
      },
      "id": "60cb7c57-51f2-4123-a605-7dc9e7c25338",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        1152
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $env.MEMORY_PATH }}",
        "options": {
          "append": true
        }
      },
      "id": "ce033c96-f782-41c1-a31b-2043c1ead021",
      "name": "Save Summary1",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        80,
        1152
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -144,
        592
      ],
      "id": "a18b3dd9-23d4-42ca-bdfb-9171eb91e09e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "content": "AI agent after receiving the message",
        "height": 1104,
        "width": 3120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        432
      ],
      "typeVersion": 1,
      "id": "a418e790-f16e-4778-b024-4b9823c16cc2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Host the UI",
        "height": 224,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "fc411a17-d5cc-44ca-8d9b-4eae093ae7ed",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a strict routing system. Your ONLY job is to classify the complexity of the user's input.\n\nYou must output exactly ONE of the following three tokens:\n1. Simple\n2. Hard\n\n### Rules:\n- Output NOTHING else. No explanations, no punctuation, no markdown.\n- If the input is a factual lookup or formatting task -> Output \"Simple\"\n- If the input requires reasoning, math, coding, or multi-step logic -> Output \"Hard\"\n\n### User Input:\n{{ $('Receive Msg (POST)1').item.json.body.message }}\n"
      },
      "id": "570b83ff-ae2e-4d19-bd64-29ac11bf0256",
      "name": "Classifier Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        608,
        688
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "9be364b0-f35c-4dcd-b8c2-67ed3bc8a659",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Simple",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52843313-7117-47a1-8841-06daa8c65c76",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Hard",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "6d958055-2e46-4686-ae16-8e144f0bac9c",
      "name": "Complexity Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        976,
        672
      ]
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        752,
        896
      ],
      "id": "ebf207dd-e38d-4f12-8188-83a20448d885",
      "name": "Ollama Model"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:latest",
          "mode": "list",
          "cachedResultName": "llama3.2:latest"
        },
        "messages": {
          "values": [
            {
              "content": "==You are a helpful AI assistant with access to the user's calendar, documents, and web search capabilities.\n\n**Current Context:**\n- Date & Time: {{ $now.toFormat('EEEE, MMMM d, yyyy, h:mm a') }} (Hong Kong Time, UTC+8)\n- Today: {{ $now.toFormat('MMMM d, yyyy') }}\n- This year: {{ $now.year }}\n\n**Instructions:**\n1. Use the User Profile below to understand the user's schedule, projects, preferences, and context\n2. Answer naturally and conversationally - don't explicitly mention \"according to your profile\" unless directly relevant\n3. For time-sensitive queries (e.g., \"today\", \"this week\", \"next month\"), use the current date/time above\n4. When interpreting dates without year (e.g., \"21/2\", \"Feb 21\"), assume year {{ $now.year }}\n5. Prioritize using available tools (calendar, documents, web search) over general knowledge when answering\n\n**User Profile:**\n{{ $('Extract from File').item.json.data || 'No profile data available yet.' }}\n\n**User Query:**\n{{ $('Receive Msg (POST)1').item.json.body.message }}\n\n---\nProvide a helpful, accurate, and contextually relevant response based on the user's query and profile.\n"
            },
            {
              "content": "=Please be reminder the exact date and time now is:\n {{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e43da6a7-d41e-4826-806d-0e5c22574fc1",
      "name": "Chat Agent2",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1232,
        640
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "c31fd8d9-01de-48f8-a6c3-9a3fc77b0861",
      "name": "Respond to UI2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1680,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    output: items[0].json.content\n  }\n};"
      },
      "id": "3447feaf-3ca0-443f-9f50-5d73a6e266db",
      "name": "Format Response2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        640
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Create an event in Google Calendar based on the user requests:\n {{ $('Receive Msg (POST)1').item.json.body.message }}",
        "calendar": {
          "__rl": true,
          "value": "hobrian2004@gmail.com",
          "mode": "list",
          "cachedResultName": "hobrian2004@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1136,
        832
      ],
      "id": "5b89963c-1ffa-4111-880a-d26a99969e82",
      "name": "Create an event in Google Calendar2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "qwen3:8b",
          "mode": "list",
          "cachedResultName": "qwen3:8b"
        },
        "messages": {
          "values": [
            {
              "content": "==You are a helpful AI assistant with access to the user's calendar, documents, and web search capabilities.\n\n**Current Context:**\n- Date & Time: {{ $now.toFormat('EEEE, MMMM d, yyyy, h:mm a') }} (Hong Kong Time, UTC+8)\n- Today: {{ $now.toFormat('MMMM d, yyyy') }}\n- This year: {{ $now.year }}\n\n**Instructions:**\n1. Use the User Profile below to understand the user's schedule, projects, preferences, and context\n2. Answer naturally and conversationally - don't explicitly mention \"according to your profile\" unless directly relevant\n3. For time-sensitive queries (e.g., \"today\", \"this week\", \"next month\"), use the current date/time above\n4. When interpreting dates without year (e.g., \"21/2\", \"Feb 21\"), assume year {{ $now.year }}\n5. Prioritize using available tools (calendar, documents, web search) over general knowledge when answering\n\n**User Profile:**\n{{ $('Extract from File').item.json.data || 'No profile data available yet.' }}\n\n**User Query:**\n{{ $('Receive Msg (POST)1').item.json.body.message }}\n\n---\nProvide a helpful, accurate, and contextually relevant response based on the user's query and profile.\n"
            },
            {
              "content": "=Please be reminder the exact date and time now is:\n {{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "116eca6f-8e5c-47fb-b05c-218f80878273",
      "name": "Chat Agent3",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1232,
        1088
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "32650e59-65a1-4d2f-a495-f544bfa44877",
      "name": "Respond to UI3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1680,
        1088
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    output: items[0].json.content\n  }\n};"
      },
      "id": "b34ca2d9-84cc-48d6-a3f1-d269bff348af",
      "name": "Format Response3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        1088
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Create an event in Google Calendar based on the user requests:\n {{ $('Receive Msg (POST)1').item.json.body.message }}",
        "calendar": {
          "__rl": true,
          "value": "hobrian2004@gmail.com",
          "mode": "list",
          "cachedResultName": "hobrian2004@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1328,
        1296
      ],
      "id": "e21cf423-45bd-4d99-9be0-8a9d5ea7e1b1",
      "name": "Create an event in Google Calendar3"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1424,
        832
      ],
      "id": "ae89a25d-1c23-47b3-9d0b-f604f275311c",
      "name": "Get a document in Google Docs"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1568,
        832
      ],
      "id": "641ebd85-8efe-44f2-81b3-0d9e54d41650",
      "name": "Update a document in Google Docs"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1616,
        1296
      ],
      "id": "2bef7ed3-9bc7-45ae-9622-b70f76d8c11b",
      "name": "Get a document in Google Docs1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1776,
        1280
      ],
      "id": "100e29db-8368-46e3-90cc-b7cc386d9c55",
      "name": "Update a document in Google Docs1"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        1728,
        832
      ],
      "id": "2c09b953-6c91-42fc-aa78-2e395c482cba",
      "name": "Search in Tavily"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        1952,
        1312
      ],
      "id": "ef9022cd-c7a2-4e5c-9203-3e9f2698ef0e",
      "name": "Search in Tavily1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=FInd an event in Google Calendar based on user's request:\n {{ $('Receive Msg (POST)1').item.json.body.message }}",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "hobrian2004@gmail.com",
          "mode": "list",
          "cachedResultName": "hobrian2004@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1280,
        832
      ],
      "id": "292ef991-3977-4055-8b2b-f00ba0de33b9",
      "name": "Get many events in Google Calendar"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=FInd an event in Google Calendar based on user's request:\n {{ $('Receive Msg (POST)1').item.json.body.message }}",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "hobrian2004@gmail.com",
          "mode": "list",
          "cachedResultName": "hobrian2004@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1456,
        1296
      ],
      "id": "950ff42c-db1e-44b6-90f7-226020bbe5b6",
      "name": "Get many events in Google Calendar1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whisper:9000/asr?language=en&output=json",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "audio_file"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -784,
        528
      ],
      "id": "98cd18a5-300e-4914-8acf-438f8790f106",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -592,
        528
      ],
      "id": "efe58ed3-3363-4faf-84ea-bbd506db3145",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "=http://tts:5000/api/tts?text={{ encodeURIComponent($json.query.text) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -800,
        1664
      ],
      "id": "4d3dc790-20fd-4431-bb4e-1b78b6c76ca5",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "audio/wav"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -592,
        1664
      ],
      "id": "34137598-6934-4f0f-b7c1-d055a4011db9",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whisper-proxy",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        528
      ],
      "id": "74744d22-ec2a-47ea-863c-b8b79ec5c40a",
      "name": "Receive Audio",
      "webhookId": "1eb2e05d-9816-4f0d-979c-4c5aa3b8cdde"
    },
    {
      "parameters": {
        "path": "tts-proxy",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        1664
      ],
      "id": "f3ab805e-8e74-42a7-9edf-403af54df0c9",
      "name": "Receive TTS",
      "webhookId": "3278e552-f904-4d30-9b55-3e7cd0eb164d"
    }
  ],
  "pinData": {},
  "connections": {
    "Serve UI (GET)": {
      "main": [
        [
          {
            "node": "Define HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define HTML": {
      "main": [
        [
          {
            "node": "Respond HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Local File (UTF8)": {
      "main": [
        [
          {
            "node": "Memory Updater",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory Updater": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Msg (POST)1": {
      "main": [
        [
          {
            "node": "Read Local File (UTF8)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Save Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Classifier Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classifier Agent": {
      "main": [
        [
          {
            "node": "Complexity Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complexity Switch": {
      "main": [
        [
          {
            "node": "Chat Agent2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classifier Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Agent2": {
      "main": [
        [
          {
            "node": "Format Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response2": {
      "main": [
        [
          {
            "node": "Respond to UI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar2": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Agent3": {
      "main": [
        [
          {
            "node": "Format Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response3": {
      "main": [
        [
          {
            "node": "Respond to UI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar3": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs1": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a document in Google Docs1": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily1": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Audio": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive TTS": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9e6cf198-91b3-4a33-9715-2f75db4d0732",
  "meta": {
    "instanceId": "bece01e17653611451518fe49e24b76be4a7dd799bc675ccb15e6ca44a1eb7c9"
  },
  "id": "j4JYqeXRsJVzPCJq",
  "tags": []
}